#about
{
    .container
    {
        margin: 0 auto;
        overflow: hidden;
    }

    .intro
    {
        color: #0a0a0a;
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 34px;
        line-height: 45px;
    }

    .media-item
    {
        margin: @spacing_unit_root 0;

        .media
        {
            .flag
            {
                background: @hot_pink;
                color: #fff;
                font-family: 'Fira Sans', sans-serif;
                font-size: 13px;
                padding: 10px 15px;

                // Not a psuedo-element because we need to account for it when
                // calculating position using JavaScript.
                .pointer
                {
                    position: absolute;
                        bottom: -10px;
                        left: 0;

                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 0 0;
                    border-color: @hot_pink transparent transparent transparent;
                }
            }

            .crosshair
            {
                position: relative;
                    left: -15px;
                height: 30px;
                width: 30px;

                &::before
                {
                    background: @hot_pink;
                    content: '';
                    display: block;
                    height: 30px;
                    position: absolute;
                        top: -15px;
                        left: 15px;
                    width: 2px;
                }

                &::after
                {
                    background: @hot_pink;
                    content: '';
                    display: block;
                    height: 2px;
                    position: absolute;
                    width: 30px;
                }
            }
        }

        .description
        {
            color: #999;
            font-family: 'Fira Sans', sans-serif;
            font-style: italic;
            font-size: 0.813em; // 13px
            line-height: 20px;
            margin-top: @spacing_unit_root / 3;
            margin-left: @spacing_unit_root / 2;
            margin-right: @spacing_unit_root / 2;
        }
    }

    .bio
    {
        color: #4c4c4c;
        float: left;
        font-family: 'Fira Sans', sans-serif;
        font-size: 0.938em; // 15px
        line-height: 2.000em; // 30px
        width: @entry_image_width;

        p
        {
            .external-text-links();

            margin: @spacing_unit_root / 2 0;

            &:first-child
            {
                margin-top: 0;
            }
        }
    }

    .sidebar
    {
        display: inline-block;
        width: 100%;
        margin-left: -1 * @entry_image_width;
        position: relative;
            z-index: -1;

        .inner-sidebar
        {
            margin-bottom: @spacing_unit_root / 2;
            margin-left: @entry_image_width;
            padding-left: @spacing_unit_root * 1.5;
        }
    }

    .media-item-small
    {
        img
        {
            .rounded(5px, 5px, 0, 0);
        }

        .brief
        {
            .rounded(0, 0, 5px, 5px);

            color: #494949;
            background: #f5f5f5;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: 16px;
            font-style: italic;
            line-height: 22px;
            padding: 15px 25px;
        }
    }
}

@media (max-width: (@2_column_width + 300px))
{
    .intro
    {
        margin: 0 @spacing_unit_root;
    }
}

// Mixins

@media (max-width: @1_column_width)
{
    #about
    {
        .about-single-column();

        .bio
        {
            margin-right: @spacing_unit_root;
            margin-left: @spacing_unit_root;
        }

        .sidebar
        {
            display: block;

            .inner-sidebar
            {
                display: block;
                width: auto;

                &:nth-child(2n+1)
                {
                    padding-right: 0;
                }

                &:nth-child(2n)
                {
                    padding-left: 0;
                }
            }
        }
    }
}

@media (min-width: (@1_column_width + 1px)) and (max-width: @entry_image_width)
{
    #about
    {
        .about-single-column();

        .bio
        {
            margin-right: @spacing_unit_root;
            margin-left: @spacing_unit_root;
        }
    }
}

@media (min-width: (@entry_image_width + 1px)) and (max-width: (@entry_image_width + 100px))
{
    #about
    {
        .about-single-column();

        .bio
        {
            margin-right: @spacing_unit_root;
            margin-left: @spacing_unit_root;
        }
    }
}

@media (min-width: (@entry_image_width + 101px)) and (max-width: (@2_column_width + 300px))
{
    #about
    {
        .about-single-column();

        .intro,
        .bio,
        .sidebar
        {
            margin-right: auto;
            margin-left: auto;
            width: @entry_image_width;
        }
    }
}

@media (min-width: (@2_column_width + 300px)) and (max-width: (@3_column_width))
{
    #about
    {
        .sidebar
        {
            .inner-sidebar
            {
                padding-left: @spacing_unit_root;
            }
        }
    }
}

.about-single-column(@selective_margin: @spacing_unit_root)
{
    .bio
    {
        float: none;
        width: auto;
    }

    .sidebar
    {
        display: table; // I totally just did that.
        margin-top: @spacing_unit_root;
        margin-right: @selective_margin;
        margin-left: @selective_margin;
        width: auto;

        .inner-sidebar
        {
            display: table-cell;
            margin-left: 0;
            padding-left: 0;
            width: 50%;

            &:nth-child(2n+1)
            {
                padding-right: @spacing_unit_root / 4;
            }

            &:nth-child(2n)
            {
                padding-left: @spacing_unit_root / 4;
            }
        }
    }
}
