#about
{
    .container
    {
        margin: 0 auto;
    }

    .intro
    {
        color: #0a0a0a;
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 34px;
        line-height: 45px;
    }

    .media
    {
        margin: @spacing_unit_root 0;
    }
}

@media (max-width: (@2_column_width + 300px))
{
    .intro
    {
        margin: 0 @spacing_unit_root;
    }
}
