#entry
{
    overflow: hidden;

    .container
    {
        margin: 0 auto;
        overflow: hidden;
    }

    h1
    {
        font-family: @title_face;
        font-weight: bold;
        font-size: 2.375em; // 38px
        line-height: 1.111em; // 40px
        margin-bottom: @spacing_unit_root;
        position: relative;
            top: 0;
            left: 0;

        .inner-sidebar
        {
            padding-top: @spacing_unit_root / 2;
            padding-left: @spacing_unit_root;
            position: relative;
                top: 0;
                left: 0;

            &::before
            {
                content: '';
                border-bottom: 4px solid #3d3d3d;
                position: absolute;
                    top: 0;
                    left: @spacing_unit_root;
                width: 100%;
            }
        }
    }

    .main-gallery
    {
        float: left;
        font-size: 0;
        margin-bottom: @spacing_unit_root;
        text-align: center;
        width: @entry_image_width;

        // Put outer spacing on this element. The ratio implementation makes
        // things a little tricky.
        .main-gallery-item
        {
            margin-bottom: @spacing_unit_root / 2;

            &:last-child
            {
                margin-bottom: 0;
            }

            &.transparent
            {
                margin: @spacing_unit_root 0;

                &:first-child
                {
                    margin-top: 0;
                }

                &:last-child
                {
                    margin-bottom: 0;
                }
            }
        }

        .media
        {
            display: inline-block;

            img,
            iframe
            {
                display: inline-block;

                &:first-child
                {
                    margin-top: 9px;
                }
            }
        }
    }

    .text
    {
        color: #4c4c4c;
        float: left;
        font-family: @body_face;
        font-size: 0.938em; // 15px
        line-height: 2.000em; // 30px
        position: relative;
            z-index: 1;
        width: @entry_image_width;

        p
        {
            .external-text-links();

            margin: @spacing_unit_root / 2 0;

            &:first-child
            {
                margin-top: 0;
            }
        }
    }

    .sidebar
    {
        display: inline-block;
        width: 100%;
        margin-left: -1 * @entry_image_width;

        .inner-sidebar
        {
            margin-left: @entry_image_width;
            padding-left: @spacing_unit_root;
        }
    }

    .main-quote
    {
        float: left;
        margin-left: auto;
        margin-right: auto;
        width: @entry_image_width;

        .text
        {
            border-top: 1px solid #e9e9e9;
            color: #3d3d3d;
            font-family: @title_face;
            font-size: 1.625em; // 26px
            font-style: italic;
            font-weight: 700;
            line-height: 1.462em; // 38px
            padding: @spacing_unit_root / 2 0;
            position: relative;
                top: 0;
                left: 0;
        }

        .source
        {
            display: table;
            margin-top: @spacing_unit_root / 5;
            margin-left: @spacing_unit_root * 1.5;
            margin-bottom: @spacing_unit_root;

            .photo
            {
                .rounded(3.938em); // 63px
                .cover();

                display: table-cell;
                height: 7.875em; // 126px
                width: 7.875em;
                opacity: .8;
            }

            .author
            {
                display: table-cell;
                padding-left: @spacing_unit_root / 2;
                vertical-align: middle;
            }

            .name
            {
                color: #3d3d3d;
                font-family: @body_face;
                font-size: 1.000em; // 16px
                font-style: italic;
                font-weight: 600;
                margin-bottom: @spacing_unit_root / 3;
            }

            .title,
            .affiliation
            {
                color: #979797;
                font-family: @body_face;
                font-size: 0.813em; // 13px
                font-style: italic;
                line-height: 1.615em; // 21px
            }
        }

        svg
        {
            height: 1.688em; // 27px
            stroke: #e9e9e9;
            width: 100%;
        }
    }

    .data-points
    {
        color: #999;
        font-family: @body_face;
        font-size: 0.813em; // 13px
        line-height: 1.625em; // 26px

        h2
        {
            color: #666;
            font-style: italic;
            font-weight: 600;
        }

        ul
        {
            margin-top: @spacing_unit_root / 2;

            &:first-child
            {
                margin-top: 0;
            }

            ul
            {
                margin-top: 0;
            }

            li
            {
                .growing-line-links(@hot_pink);
            }
        }
    }
}

// Media Queries

// This is about where the width of the quote begins to feel natural.
@media (max-width: 600px)
{
    #entry
    {
        .main-quote
        {
            .text
            {
                font-size: 1.35em;
            }

            .source
            {
                display: block;
                margin-left: 0;

                .photo
                {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                .author
                {
                    display: block;
                    margin: 0 auto;
                    padding-left: 0;
                    text-align: center;
                }

                .name
                {
                    margin-top: @spacing_unit_root / 2;
                }
            }
        }
    }
}

@media (max-width: @entry_image_width)
{
    #entry
    {
        .entry-single-column( @spacing_unit_root / 2, 1.000rem );

        h1.sidebar
        {
            text-align: center;
        }
    }
}

// Things can get pretty tight just beyond the max image width without some
// margin accounted for. Especially true because the max image width is close
// to the common 768px device width.
@media (min-width: (@entry_image_width + 1px)) and (max-width: (@entry_image_width + 100px))
{
    #entry
    {
        .entry-single-column();

        .main-gallery
        {
            .main-gallery-item
            {
                margin-right: @spacing_unit_root;
                margin-left: @spacing_unit_root;
            }

            .media
            {
                // Changed with the image ratio implementation.
                //margin-right: @spacing_unit_root;
                //margin-left: @spacing_unit_root;
            }
        }
    }
}

@media (min-width: (@entry_image_width + 101px)) and (max-width: (@2_column_width + 300px))
{
    #entry
    {
        .entry-single-column();

        .main-gallery
        {
            width: @entry_image_width;
        }

        .text,
        .sidebar,
        .main-quote
        {
            margin-right: auto;
            margin-left: auto;
            width: @entry_image_width;
        }
    }
}

// Mixins

.entry-single-column(@selective_margin: @spacing_unit_root, @font_size: 1.000rem)
{
        .container
        {
            //margin: 0;
        }

        .main-gallery
        {
            float: none;
            margin-right: auto;
            margin-left: auto;
            width: auto;

            .main-gallery-item
            {
                &.transparent
                {
                    margin-right: @spacing_unit_root;
                    margin-left: @spacing_unit_root;
                }
            }

            .media
            {
                float: none;
                // Not ideal. This is due to width being set inline.
                width: 100% !important;
                //width: auto !important;

                img,
                iframe
                {
                    //height: auto;
                    //width: 100%;
                    //max-width: @entry_image_width;
                }

                iframe
                {
                    height: 100%;
                    position: absolute;
                        top: 0;
                        left: 0;
                }
            }
        }

        .text,
        .sidebar
        {
            float: none;
            display: block;
            margin-right: @selective_margin;
            margin-left: @selective_margin;
            font-size: @font_size;
            width: auto;
        }

        .sidebar
        {
            .inner-sidebar
            {
                margin-left: 0;
                padding-top: 0;
                padding-left: 0;
            }
        }

        h1.sidebar
        {
            font-size: 2.375em; // 38px
            margin-bottom: @spacing_unit_root / 2;

            .inner-sidebar
            {
                &::before
                {
                    border-bottom: 0;
                    left: 0;
                }
            }
        }

        .text
        {
            p
            {
                a
                {
                    white-space: normal;
                }
            }
        }

        .main-quote
        {
            float: none;
            margin-left: @selective_margin;
            margin-right: @selective_margin;
            width: auto;

            .text
            {
                margin: 0;
            }
        }
}
