#entry-list
{
    font-family: @title_face;
    overflow: hidden;

    .container
    {
        overflow: hidden;
    }

    ul.entries
    {
        overflow: hidden;

        li
        {
            .transition(opacity 200ms @ease_in_sine 200ms);

            // Note ngAnimate will change to display: none
            display: block;
            opacity: 1;

            &.ng-hide-remove
            {
                .transition(none);

                opacity: 0;
            }

            &.ng-hide-add
            {
                .transition(none);

                opacity: 1;
            }

            &.ng-hide
            {
                .transition(opacity 0 @ease_in_sine 50ms);

                opacity: 0;
            }
        }

        a
        {
            .transition(all 250ms ease-out);

            color: @black_24;
            display: inline-block;
            font-size: 3.250em; // 52px
            font-weight: 700;
            line-height: 1.019em; // 53px
            padding: 5px 10px;
            position: relative;
                top: 0;
                left: 0;
            text-decoration: none;

            &:hover
            {
                color: @black_9;
            }

            &::after
            {
                .transition(width 250ms ease-out);

                content: '';
                background: @blue_light;
                display: block;
                height: 100%;
                position: absolute;
                    top: 0.058em; // 3px
                    left: 0;
                    z-index: -1;
                width: 0%;
            }

            &:hover::after
            {
                width: 100%;
            }
        }
    }

    ul.categories
    {
        display: inline-block;

        a
        {
            .rounded(22px); // Must include border when halving the height

            .transition-property(color, background-color, border-color;);
            .transition-duration(250ms);
            .transition-timing-function(@ease_in_sine);

            // .transition(color 250ms ease-out, background 250ms ease-out;);

            color: @black_65;
            border: 2px solid @black_85;
            display: inline-block;
            font-family: @body_face;
            font-size: 15px;
            font-style: italic;
            font-weight: 600;
            // height: 38px;
            // line-height: 37px;
            margin-bottom: 7px;
            // padding: 0 15px;
            text-decoration: none;

            &:hover
            {
                color: @black_9;
                border-color: @black_65;
            }

            &.faded
            {
                color: @black_85;
                border-color: @black_90;

                &:hover
                {
                    // border-color: @black_24;
                    color: @black_9;
                }
            }

            &.active
            {
                .transition-property(color);

                color: @black_24;
                background-color: @blue_light;
                border: 0;
                // border-color: @blue_light;
                opacity: 1;

                &:hover
                {
                    // border-left-color: @blue_light;
                    color: @black_9;
                }

                span.name
                {
                    // display: inline-block;
                    padding: 14px 8px 14px 17px;
                }

                span.count
                {
                    border-color: #fff;
                    padding: 14px 17px 14px 10px;
                }
            }

            span.name
            {
                display: inline-block;
                padding: 12px 8px 12px 15px;
            }

            span.count
            {
                // .rounded(0 22px 22px 0);

                display: inline-block;
                border-left: 1px solid @black_95;
                padding: 12px 15px 12px 10px;
            }
        }
    }

    // Media Queries

    .respond-until-including(@1_column_width,
    {
        font-size: .55rem;
    });

    .respond-between(@1_column_width, @entry_image_width,
    {
        font-size: .65rem;
    });

    .respond-until-including(@entry_image_width + 100px,
    {
        .single-column(@spacing_unit_root / 2);
    });

    .respond-between(@entry_image_width + 101px, @multi_column_bp,
    {
        .single-column(auto, @entry_image_width);
    });

    .respond-after(@multi_column_bp,
    {
        .multi-column();
    });

    // Local Mixins

    .single-column(@horizontal-margin: auto, @width: auto)
    {
        .container
        {
            text-align: center;
            margin-left: @horizontal-margin;
            margin-right: @horizontal-margin;
            width: @width;
        }

        ul.entries
        {
            float: left;
            text-align: left;
        }

        ul.categories
        {
            margin-bottom: @spacing_unit_root / 2;
            text-align: center;

            li
            {
                display: inline-block;
            }

            a
            {
                display: inline-block;
                margin-right: 7px;
            }
        }
    }

    .multi-column()
    {
        .container
        {
            margin: 0 auto;
        }

        ul.entries
        {
            float: left;
        }

        ul.categories
        {
            float: right;
            // margin-left: @spacing_unit_root * 2;
        }
    }
}
