#entry
{
    overflow: hidden;

    .container
    {
        margin: 0 auto;
        overflow: hidden;
    }

    h1
    {
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: bold;
        font-size: 2.375em; // 38px
        line-height: 1.111em; // 40px
        margin-bottom: @spacing_unit_root;
        position: relative;
            top: 0;
            left: 0;

        .inner-sidebar
        {
            padding-top: @spacing_unit_root / 2;
            padding-left: @spacing_unit_root;
            position: relative;
                top: 0;
                left: 0;

            &::before
            {
                content: '';
                border-bottom: 4px solid #3d3d3d;
                position: absolute;
                    top: 0;
                    left: @spacing_unit_root;
                width: 100%;
            }
        }
    }

    .main-gallery
    {
        //display: inline-block;
        float: left;
        font-size: 0;
        //margin-right: @spacing_unit_root;
        margin-bottom: @spacing_unit_root;
        text-align: center;
        width: @entry_image_width;

        .media
        {
            //float: left;
            display: inline-block;
            margin-bottom: @spacing_unit_root / 2;
            position: relative;
                top: 0;
                left: 0;
            width: @entry_image_width;

            &:last-child
            {
                margin-bottom: 0;
            }

            // Note that top or bottom padding on this element is relative to
            // the parent's width.
            .ratio-wrapper
            {
                position: relative;
                    top: 0;
                    left: 0;
            }

            img,
            iframe
            {
                display: inline-block;
                position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                height: 100%;
                width: 100%;

                &:first-child
                {
                    margin-top: 9px;
                }
            }

            &.transparent
            {
                margin: @spacing_unit_root 0;

                &:first-child
                {
                    margin-top: 0;
                }

                &:last-child
                {
                    margin-bottom: 0;
                }
            }
        }
    }

    .text
    {
        //clear: both;
        color: #4c4c4c;
        //display: inline-block;
        float: left;
        font-family: 'Fira Sans', sans-serif;
        font-size: 0.938em; // 15px
        line-height: 2.000em; // 30px
        width: @entry_image_width;

        p
        {
            margin: @spacing_unit_root / 2 0;

            &:first-child
            {
                margin-top: 0;
            }

            a
            {
                color: #3d3d3d;
                position: relative;
                    top: 0;
                    left: 0;
                text-decoration: none;
                white-space: nowrap;

                span
                {
                    .transition(all 250ms ease-out);

                    border-bottom: 1px solid #f4f4f4;
                    //display: inline-block;
                    padding-bottom: 2px;
                    position: relative;
                        top: 0;
                        left: 0;

                    /*
                    &::before
                    {
                        content: '';
                        border-bottom: 1px solid #e1e1e1;
                        position: absolute;
                            bottom: 0;
                            left: 0;
                        width: 100%;
                    }
                    */
                }

                &.external::after
                {
                    .transition(all 250ms ease-out);
                    .rounded(1em); // 13px

                    background: @blue_light;
                    color: #3d3d3d;
                    content: '\f08e';
                    display: inline-block;
                    font-family: 'FontAwesome';
                    font-size: 0.813em; // 13px
                    height: 2.000em; // 26px;
                    line-height: 2.225em;
                    margin: 0 0.077em 0 0.308em; //0 1px 0 4px;
                    position: relative;
                        top: -0.077em; // -1px
                    text-align: center;
                    width: 2.000em; // 26px;
                }

                &:hover
                {
                    span
                    {
                        border-color: #c4c4c4;

                        /*
                        &::before
                        {
                            border-color: #848484;
                        }
                        */
                    }

                    &.external::after
                    {
                        background: @blue;
                    }
                }
            }
        }
    }

    .sidebar
    {
        //float: right;
        display: inline-block;
        //width: 177px;
        //padding-left: @spacing_unit_root;
        //overflow: hidden;
        //margin-left: 727px;
        width: 100%;
        margin-left: -727px;

        .inner-sidebar
        {
            margin-left: 727px;
            padding-left: @spacing_unit_root;
        }
    }

    .main-quote
    {
        float: left;
        //overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        width: @entry_image_width;

        .text
        {
            border-top: 1px solid #e9e9e9;
            color: #3d3d3d;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: 1.625em; // 26px
            font-style: italic;
            font-weight: 700;
            line-height: 1.462em; // 38px
            padding: @spacing_unit_root / 2 0;
            position: relative;
                top: 0;
                left: 0;
        }

        .source
        {
            display: table;
            margin-top: @spacing_unit_root / 5;
            margin-left: @spacing_unit_root * 1.5;
            margin-bottom: @spacing_unit_root;

            .photo
            {
                .rounded(3.938em); // 63px
                .cover();

                display: table-cell;
                height: 7.875em; // 126px
                width: 7.875em;
                opacity: .8;
            }

            .author
            {
                display: table-cell;
                padding-left: @spacing_unit_root / 2;
                vertical-align: middle;
            }

            .name
            {
                color: #3d3d3d;
                font-family: 'Archivo Narrow';
                font-size: 1.125em; // 18px
                font-style: italic;
                font-weight: 700;
                margin-bottom: @spacing_unit_root / 3;
            }

            .title,
            .affiliation
            {
                color: #979797;
                font-family: 'Fira Sans', sans-serif;
                font-size: 0.875em; // 14px
                font-style: italic;
                line-height: 1.429em; // 20px
            }
        }

        svg
        {
            height: 1.688em; // 27px
            stroke: #e9e9e9;
            width: 100%;
        }
    }

    .data-points
    {
        color: #999;
        font-family: 'Fira Sans', sans-serif;
        font-size: 0.875em; // 14px
        line-height: 1.625em; // 26px
        //margin-top: @spacing_unit_root;

        h2
        {
            color: #666;
            font-style: italic;
            font-weight: 500;
        }

        ul
        {
            margin-top: @spacing_unit_root / 2;

            &:first-child
            {
                margin-top: 0;
            }

            ul
            {
                margin-top: 0;
            }

            li
            {
                a
                {
                    .transition(all 200ms ease-out);

                    color: @hot_pink;
                    display: inline-block;
                    opacity: .75;
                    position: relative;
                    text-decoration: none;

                    &:hover
                    {
                        opacity: 1;
                    }

                    &::after
                    {
                        .transition(width 250ms ease-out);

                        content: '';
                        background: @hot_pink;
                        height: 1px;
                        position: absolute;
                            bottom: 2px;
                            left: 0;
                            z-index: -1;
                        width: 0%;
                    }

                    &:hover::after
                    {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// Media Queries

// This is about where the width of the quote begins to feel natural.
@media (max-width: 600px)
{
    #entry
    {
        .main-quote
        {
            .text
            {
                font-size: 1.35em;
            }

            .source
            {
                display: block;
                margin-left: 0;

                .photo
                {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                .author
                {
                    display: block;
                    margin: 0 auto;
                    padding-left: 0;
                    text-align: center;
                }

                .name
                {
                    margin-top: @spacing_unit_root / 2;
                }
            }
        }
    }
}

@media (max-width: @entry_image_width)
{
    #entry
    {
        .entry-single-column();
    }
}

// Things can get pretty tight just beyond the max image width without some
// margin accounted for. Especially true because the max image width is close
// to the common 768px device width.
@media (min-width: (@entry_image_width + 1px)) and (max-width: (@entry_image_width + 100px))
{
    #entry
    {
        .entry-single-column();

        .main-gallery
        {
            .media
            {
                margin-right: @spacing_unit_root;
                margin-left: @spacing_unit_root;
            }
        }
    }
}

@media (min-width: (@entry_image_width + 101px)) and (max-width: (@2_column_width + 300px))
{
    #entry
    {
        .entry-single-column();

        .text,
        .sidebar,
        .main-quote
        {
            margin-right: auto;
            margin-left: auto;
            width: @entry_image_width;
        }
    }
}

@media (min-width: @3_column_width)
{
    #entry
    {
        .sidebar
        {
            //width: 250px;
        }
    }
}

// Mixins

.entry-single-column(@selective_margin: @spacing_unit_root)
{
        .container
        {
            //margin: 0;
        }

        .main-gallery
        {
            float: none;
            margin-right: auto;
            margin-left: auto;
            width: auto;

            .media
            {
                float: none;
                position: relative;
                    top: 0;
                    left: 0;
                // Not ideal. This is due to width being set inline.
                width: 100% !important;
                //width: auto;

                img,
                iframe
                {
                    //height: auto;
                    //width: 100%;
                    //max-width: @entry_image_width;
                }

                iframe
                {
                    height: 100%;
                    position: absolute;
                        top: 0;
                        left: 0;
                }

                &.video
                {
                    //width: 100%;
                    //height: 0;
                    //padding-top: 56.25%; // This enforces an assumed ratio.
                }

                &.transparent
                {
                    //margin-right: @spacing_unit_root;
                    //margin-left: @spacing_unit_root;
                }
            }
        }

        .text,
        .sidebar
        {
            float: none;
            display: block;
            margin-right: @selective_margin;
            margin-left: @selective_margin;
            width: auto;
        }

        .sidebar
        {
            .inner-sidebar
            {
                margin-left: 0;
                padding-left: 0;
            }
        }

        h1.sidebar
        {
            .inner-sidebar
            {
                &::before
                {
                    left: 0;
                }
            }
        }

        .text
        {
            p
            {
                a
                {
                    white-space: normal;
                }
            }
        }

        .main-quote
        {
            float: none;
            margin-left: @selective_margin;
            margin-right: @selective_margin;
            width: auto;

            .text
            {
                margin: 0;
            }
        }
}
