#entry-list
{
    font-family: @title_face;
    overflow: hidden;

    .container
    {
        margin: 0 auto;
        overflow: hidden;
    }

    ul.entries
    {
        float: left;
        overflow: hidden;

        li
        {
            .transition(opacity 200ms @ease_in_sine 200ms);

            // Note ngAnimate will change to display: none
            display: block;
            opacity: 1;

            &.ng-hide-remove
            {
                .transition(none);

                opacity: 0;
            }

            &.ng-hide-add
            {
                .transition(none);

                opacity: 1;
            }

            &.ng-hide
            {
                .transition(opacity 0 @ease_in_sine 50ms);

                opacity: 0;
            }
        }

        a
        {
            .transition(all 250ms ease-out);

            color: @black_24;
            display: inline-block;
            font-size: 3.250em; // 52px
            font-weight: 700;
            line-height: 1.019em; // 53px
            padding: 5px 10px;
            position: relative;
                top: 0;
                left: 0;
            text-decoration: none;

            &:hover
            {
                color: @black_9;
            }

            &::after
            {
                .transition(width 250ms ease-out);

                content: '';
                background: @blue_light;
                display: block;
                height: 100%;
                position: absolute;
                    top: 0.058em; // 3px
                    left: 0;
                    z-index: -1;
                width: 0%;
            }

            &:hover::after
            {
                width: 100%;
            }
        }
    }

    ul.categories
    {
        display: inline-block;
        //float: right;
        margin-left: @spacing_unit_root * 2;

        a
        {
            .rounded(22px); // Must include border when halving the height
            .transition(all 250ms ease-out);

            color: @black_65;
            border: 2px solid @black_85;
            display: inline-block;
            font-family: @body_face;
            font-size: 15px;
            font-style: italic;
            font-weight: 600;
            height: 38px;
            line-height: 37px;
            margin-bottom: 7px;
            padding: 0 15px;
            text-decoration: none;

            &:hover
            {
                color: @black_9;
                border-color: @black_65;
            }

            &.faded
            {
                // opacity: 0.55;
                color: @black_85;
                border-color: @black_90;

                &:hover
                {
                    // border-color: @black_24;
                    color: @black_9;
                }
            }

            &.active
            {
                color: @black_24;
                background-color: @blue_light;
                border-color: @blue_light;
                opacity: 1;

                &:hover
                {
                    border-color: @blue_light;
                    color: @black_9;
                }
            }



            span.count
            {
                display: none;
            }
        }
    }
}

// Media Queries

@media (max-width: @1_column_width)
{
    #entry-list
    {
        font-size: .55rem;
    }
}

@media (max-width: 727px)
{
    #entry-list
    {
        font-size: .65rem;
    }
}

@media (max-width: (@2_column_width + 100px))
{
    #entry-list
    {
        .container
        {
            text-align: center;
            //margin-top: @spacing_unit_root;
            margin-left: @spacing_unit_root / 2;
            margin-right: @spacing_unit_root / 2;
            width: auto;
        }

        ul.entries
        {
            text-align: left;
        }

        ul.categories
        {
            float: none;
            margin-right: auto;
            margin-bottom: @spacing_unit_root / 2;
            margin-left: auto;
            text-align: center;
            width: auto;

            li
            {
                display: inline-block;
            }

            a
            {
                display: inline-block;
                font-size: 15px;
                height: 38px;
                line-height: 38px;
                margin-right: 7px;
                margin-bottom: 7px;
                padding: 0 15px;
            }
        }
    }
}
