#entry-gallery
{
    .full-width-gallery();

    overflow: hidden;

    .container
    {
        margin: 0 auto;
        overflow: hidden;
        width: auto;
    }

    .thumbnail li
    {
        &.astronomical-league
        {
            //.inner-shadow(0, 0, 60px, 5px, 0, 0, 0, .15);

            background: #8f2d44;

            .description
            {

            }

            a:hover img
            {
                //top: 358px;
            }
        }

        &.maker-camp
        {
            background: no-repeat url(../images/thumbs/maker_camp_thumb2.jpg);

            .background-size(cover);
            //background: #b0d06c;
            //background: #f6b435;

            .description h3
            {
                color: #3d3d3d;
            }

            .description h3::after
            {
                border-color: #3d3d3d;
            }

            .description ul.roles li
            {
                color: #3d3d3d;
            }

            a:hover img
            {
                //left: @thumb_width;
                //top: 0;
            }
        }

        &.nintendo-community
        {
            background: #e03f47;

            .description
            {

            }

            a:hover img
            {
                //top: 358px;
            }
        }

        &.wedding
        {
            //background: no-repeat url(../images/thumbs/wedding_thumb2.jpg);
            //background: #c2d9bc;
            background: url(../images/thumbs/bg_paper_light.jpg);

            .description h3
            {
                color: #3d3d3d;
            }

            .description h3::after
            {
                border-color: #3d3d3d;
            }

            .description ul.roles li
            {
                color: #3d3d3d;
            }

            a:hover img
            {
                //left: @thumb_width;
                //top: 0;
            }
        }

        &.choose-your-own-birth
        {
            background: #e3418a;

            .description
            {

            }
        }

        &.learning-creative-learning
        {
            background: #ace8dc;

            .description h3
            {
                color: #3d3d3d;
            }

            .description h3::after
            {
                border-color: #3d3d3d;
            }

            .description ul.roles li
            {
                color: #3d3d3d;
            }
        }

        &.audubon-birding-the-net
        {
            background: #e5ab3d;
            //background: #e5b14e;

            .description
            {

            }
        }

        &.subaru-work-play-love
        {
            background: #2c5fa1;

            .description
            {

            }
        }

        &.airforce-rotc-scholarship
        {
            background: #79bace;

            .description
            {

            }
        }

        &.girl-rock-nation
        {
            background: #00b5cb;

            .description
            {

            }
        }

        &.coaches-vs-cancer
        {
            background: #cc6327;

            .description
            {

            }
        }

        &.paris-from-memory
        {
            background: #0d0b13;

            .description
            {

            }
        }

        &.late-night-camp-hyrule
        {
            background: #1e4c72;

            .description
            {

            }
        }

        &.sugarcrave
        {
            background: no-repeat url(../images/thumbs/sugarcrave_thumb2.jpg);

            .background-size(cover);
            //background: #a9aade;

            .description
            {

            }
        }
    }
}
