div.loader
{
    .transition(all 300ms ease-out);

    height: 100%;
    opacity: 1;
    position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    width: 100%;

    &.complete
    {
        opacity: 0;
        z-index: -1; // Need this check that this doesn't happen until opacity fades. I'm not sure what it will do.
    }

    .spinner
    {
        .animation(spinner 800ms infinite linear);

        border-top: 2px solid rgba(255,255,255, 0);
        border-right: 2px solid rgba(255,255,255, 0);
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        font-size: 10px;
        //margin-top: -1.500em;
        //margin-left: -1.500em;
        position: absolute;
            top: @spacing_unit_root / 3;
            right: @spacing_unit_root / 3;
            //z-index: 1;
        text-indent: -9999em;
    }

    .spinner
    {
        border-radius: 50%;
        display: block;
        height: 3.000em;
        width: 3.000em;
    }

    /*
    .spinner::after
    {
        background: #3d3d3d;
        border-radius: 50%;
        content: '';
        display: block;
        height: 6.000em;
        margin-left: -3em;
        margin-top: -3em;
        position: relative;
            top: 50%;
            left: 50%;
            //z-index: -1;
        width: 6.000em;
    }
    */
}

.transparent
{
    div.loader
    {
        background: rgba(255,255,255, .85);

        .spinner
        {
            border-bottom-color: #3d3d3d;
            border-left-color: #3d3d3d;
        }
    }
}

// Keyframes

.keyframes(spinner,
{
    0%
    {
        .transform( rotate(0deg) );
    }

    100%
    {
        .transform( rotate(360deg) );
    }
});
