nav#nav-main
{
    // Default

    position: relative;
        top: 0;
        left: 0;
        z-index: 99;
    width: 100%;

    // Usually the state after scrolling from the top of the page.
    &.compact
    {
        .icon-height(@factor_compact_header);

        position: fixed;
            top: 0;

        .nav-icon-wrapper
        {
            position: relative;
                top: 0;
                left: 0;
                //z-index: 1;
        }
    }

    // When menu has "centered" behavior.
    &.centered
    {
        .nav-icon-wrapper
        {
            a#nav-icon
            {
                float: none;
                margin: 0 auto;
                // opacity: 0;
            }
        }

        .nav-items
        {
            ul.nav-primary,
            ul.nav-sub
            {
                li,
                li.gallery,
                li.list
                {
                    a
                    {
                        text-align: center;
                    }
                }
            }
        }
    }

    .nav-icon-wrapper
    {
        overflow: hidden;

        // Importantly, this icon's visibility determines if the menu is collapsible.
        a#nav-icon
        {
            //.transition(all 600ms ease-out);

            color: @black_50;

            svg
            {
                fill: transparent;
                width: 100%;
                stroke: currentColor;
            }

            &:hover
            {
                color: #000;
            }

            .respond-until-including(@1_column_width,
            {
                width: 2.000em; // 32px
            });

            .respond-after(@1_column_width,
            {
                width: 2.125em; // 34px
            });
        }
    }

    .nav-items
    {
        ul.nav-primary
        {
            li.gallery,
            li.list
            {
                a
                {
                    .transition(all 300ms ease-out);

                    display: block;

                    svg
                    {
                        fill: transparent;
                        stroke: currentColor;
                    }

                    span.text-label
                    {
                        display: none;
                    }

                    &:hover
                    {
                        //color: #000;
                    }
                }

                &.active
                {
                    a
                    {
                        //color: #000;
                        cursor: default;
                    }
                }
            }
        }

        ul.nav-sub
        {
            li
            {
                a
                {
                    .transition(all 300ms ease-out);

                    //color: #808080;
                    display: block;
                    //font-family: @title_face;
                    //font-size: 1.125em;
                    //letter-spacing: 0.188em;
                    //text-decoration: none;
                    //text-transform: uppercase;

                    &:hover
                    {
                        //color: #000;
                    }
                }

                &.active
                {
                    a
                    {
                        //color: #000;
                        cursor: default;
                    }
                }
            }
        }
    }

    // Media Queries

    .respond-until-including(@multi_column_bp,
    {
        .collapsible-menu-c();

        &.compact
        {
            .list-top-padding(@factor_compact_header * 2);
        }
    });

    .respond-until-including(@1_column_width,
    {
        @factor: 0.5;

        .icon-height(@factor);
        .list-top-padding(@factor);
        .list-bottom-padding(@factor_compact_header);
    });

    .respond-between(@1_column_width, @multi_column_bp,
    {
        @factor: 0.75;

        .icon-height(@factor);
        .list-top-padding(@factor);
        .list-bottom-padding(@factor_compact_header);
    });

    .respond-after(@multi_column_bp,
    {
        @factor: 1;

        .horizontal-menu();
        .item-heights(@factor);
    });

    // Local Mixins

    .icon-height(@factor: 1)
    {
        .nav-icon-wrapper
        {
            a#nav-icon
            {
                height: @header_height * @factor;

                svg
                {
                    height: @header_height * @factor;
                }
            }
        }
    }

    .list-top-padding(@factor: 1)
    {
        .nav-items
        {
            padding-top: @header_height * @factor;
        }
    }

    .list-bottom-padding(@factor: 1)
    {
        .nav-items
        {
            padding-bottom: @header_height * @factor;
        }
    }

    // This is ideal for situations where the primary menu is not collapsible
    // (i.e., all menu items are visible).
    .item-heights(@factor: 1)
    {
        .nav-items
        {
            ul.nav-primary
            {
                li
                {
                    height: @header_height * @factor;
                }

                li.gallery,
                li.list
                {
                    a
                    {
                        svg
                        {
                            height: @header_height * @factor;
                        }

                        span.text-label
                        {
                            height: @header_height * @factor;
                            line-height: @header_height * @factor;
                        }
                    }
                }
            }

            ul.nav-sub
            {
                li
                {
                    height: @header_height * @factor;
                    line-height: @header_height * @factor;

                    a
                    {
                        height: @header_height * @factor;
                        line-height: @header_height * @factor;
                    }
                }
            }
        }
    }
}

.horizontal-menu()
{
    overflow: hidden;

    .nav-icon-wrapper
    {
        a#nav-icon
        {
            display: none;
        }
    }

    .nav-items
    {
        float: left;
        width: 100%;

        ul.nav-primary
        {
            float: left;

            li
            {
                float: left;
                margin-left: @spacing_unit_root / 2;
            }

            li:first-child
            {
                margin-left: 0;
            }

            li.gallery,
            li.list
            {
                a
                {
                    color: @black_50;
                    font-family: @title_face;
                    letter-spacing: 0.188em;
                    text-decoration: none;
                    text-transform: uppercase;

                    svg
                    {
                        float: left;
                        width: 2.000em; // 32px
                    }

                    span.text-label
                    {
                        display: none;
                    }

                    &:hover
                    {
                        color: #000;
                    }
                }

                &.active
                {
                    a
                    {
                        color: #000;
                        cursor: default;
                    }
                }
            }
        }

        ul.nav-sub
        {
            float: right;

            li
            {
                float: left;
                margin-right: @spacing_unit_root;
                width: auto;

                &:last-child
                {
                    margin-right: 0;
                }

                a
                {
                    color: @black_50;
                    font-family: @title_face;
                    font-size: 1.125em;
                    letter-spacing: 0.188em;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover
                    {
                        color: #000;
                    }
                }

                &.active
                {
                    a
                    {
                        color: #000;
                        cursor: default;
                    }
                }
            }
        }
    }
}

.collapsible-menu-c()
{
    .nav-icon-wrapper
    {
        a#nav-icon
        {
            display: block;
            float: right;
            position: relative;
                top: 0;
                left: 0;
                z-index: 100;

            .respond-until-including(@entry_image_width,
            {
                margin-right: @spacing_unit_root / 2;
            });

            .respond-between(@entry_image_width, @entry_image_width + 100px,
            {
                margin-right: @spacing_unit_root;
            });

            .respond-after(@entry_image_width + 100px,
            {
                margin-right: 0;
            });
        }

        .respond-after(@entry_image_width + 100px,
        {
            margin: 0 auto;
            width: @entry_image_width;
        });
    }

    .nav-items
    {
        .transition(bottom 200ms @ease_in_sine);

        // background: @black_95;
        // background: #fff;
        // background: rgba(255, 255, 255, 0.95);
        // height: 100%;
        overflow-y: auto;
        // padding: @spacing_unit_root 0;
        // position: fixed;
            // top: 0; // Animate from -100%
            // right: 0;
            // left: 0;
        // width: 50%;

        ul.nav-primary,
        ul.nav-sub
        {
            li,
            li.gallery,
            li.list
            {
                a
                {
                    color: @black_30;
                    font-family: @title_face;
                    font-size: @spacing_unit * 0.5;
                    letter-spacing: 0.188em;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;

                    .respond-until-including(@entry_image_width,
                    {
                        padding: 0 @spacing_unit_root / 2;
                    });

                    .respond-between(@entry_image_width, @entry_image_width + 100px,
                    {
                        padding: 0 @spacing_unit_root;
                    });

                    .respond-after(@entry_image_width + 100px,
                    {
                        margin: 0 auto;
                        width: @entry_image_width;
                    });
                }
            }
        }

        ul.nav-primary
        {
            position: relative;
                top: 0;
                left: 0;

            li
            {
                margin: 0;

                &:first-child
                {
                    margin: 0;
                }
            }

            li.gallery,
            li.list
            {
                a
                {
                    svg
                    {
                        display: none;
                    }

                    span.text-label
                    {
                        display: block;
                    }

                    &:hover
                    {
                        svg
                        {
                            stroke: currentColor;
                        }
                    }
                }

                &.active
                {
                    a
                    {
                        // color: #fff;
                    }
                }
            }
        }

        .respond-until-including(@multi_column_bp,
        {
            .drop-shadow(0, 2px, 0, 0, 0, 0, 0, .07);

            background: #fff;
            // position: fixed;
                // top: 0;
            position: absolute;
                bottom: 100%; // Default for non-compacted state
                left: 0;
            width: 100%;
        });

        .respond-until-including(@1_column_width,
        {
            // padding-bottom: @spacing_unit_root / 2;
        });

        .respond-after(@1_column_width,
        {
            // padding-bottom: @spacing_unit_root;
        });
    }

    ul.nav-sub
    {
        li
        {
            a
            {
                &:hover
                {
                    // color: @blue;
                }
            }

            &.active
            {
                a
                {
                    // color: #fff;
                }
            }
        }
    }

    &.collapsed-add
    {
        // .transition-duration(5s);
    }

    // Menu opening:

    &.collapsed-remove
    {
        .transition-duration(300ms);

        .nav-items
        {
            ul.nav-primary li.gallery a,
            ul.nav-primary li.list a,
            ul.nav-sub li a
            {
                .transition(none);

                opacity: 0;
            }
        }
    }

    &.collapsed-remove-active
    {
        .nav-items
        {
            ul.nav-primary li.gallery a,
            ul.nav-primary li.list a,
            ul.nav-sub li a
            {
                .transition(opacity 100ms @ease_in_sine 200ms);

                opacity: 1;
            }
        }

    }

    // Menu closing:

    &.collapsed-add
    {
        .transition-duration(200ms);

        .nav-items
        {
            ul.nav-primary li.gallery a,
            ul.nav-primary li.list a,
            ul.nav-sub li a
            {
                .transition(none);

                opacity: 1;
            }
        }
    }

    &.collapsed
    {
        .nav-items
        {
            // Final bottom state should go here, but since I needed to fall
            // back to JavaScript to get the bottom position right, this is
            // empty.

            ul.nav-primary li.gallery a,
            ul.nav-primary li.list a,
            ul.nav-sub li a
            {
                .transition(opacity 100ms @ease_in_sine);

                opacity: 0;
            }
        }
    }

    &.compact-add
    {
        .transition-duration(@time_compact_animation);

        .nav-icon-wrapper
        {
            a#nav-icon
            {
                .transition(none);

                opacity: 0;
            }
        }
    }

    &.compact
    {
        .nav-icon-wrapper
        {
            a#nav-icon
            {
                .transition(opacity 100ms @ease_in_sine 200ms);

                opacity: 1;
            }
        }

        .nav-items
        {
            .transition(bottom 200ms @ease_in_sine);

            .respond-until-including(@1_column_width,
            {
                // padding-top: 0;
            });

            .respond-after(@1_column_width,
            {
                // padding-top: @spacing_unit_root;
            });

            .respond-until-including(@multi_column_bp,
            {
                // Default for compacted state.
                bottom: 0;
            });
        }
    }

    &.compact-remove
    {
        .nav-items
        {
            .transition(none);
        }
    }
};

.primary-nav-arrow()
{
    nav#nav-main
    {
        .nav-items
        {
            ul.nav-primary
            {
                &::before
                {
                    .rotate(45deg);
                    .transition(all 200ms ease-out);

                    @box_length: ceil( @spacing_unit_root / 6 );

                    background: #1f1f1f;
                    content: '';
                    height: @box_length;
                    position: absolute;
                        top: -1 * (@spacing_unit_root / 2 + @box_length / 2);
                        right: @spacing_unit_root / 2 + 2.375em / 2 - @box_length / 2;
                        //z-index: -1;
                    width: @box_length;
                }

                &.animating::before
                {
                    top: 0;
                }
            }
        }
    }

    nav#nav-main.centered
    {
        .nav-items
        {
            ul.nav-primary
            {
                &::before
                {
                    @box_length: @spacing_unit_root / 4;

                    margin-right: -1 * @box_length / 2;
                    right: 50%;
                }
            }
        }
    }
}
