nav#nav-sequence.sequenced
{
    display: block;
}

nav#nav-sequence
{
    display: none;
    position: absolute;
        top: 0;

	span.text-label
	{
		display: none;
		color: #808080;
		font-family: 'Archivo Narrow', sans-serif;
		font-size: 1.125em;
		height: @header_height;
		letter-spacing: 0.188em;
		line-height: @header_height;
		text-decoration: none;
		text-transform: uppercase;

		&:hover
		{
			color: #000;
		}
	}

	a.prev,
	a.next
	{
		.transition(all 300ms ease-out);

		color: #bfbfbf;
		height: 100%;
		text-decoration: none;
		//margin-top: -40px;
		position: fixed;
			//top: 50%;
		width: @spacing_unit_root * 2;

		svg
		{
			display: block;
            fill: none;
			stroke: currentColor;
            height: 100%;
			//height: 80px;
			//margin: 0 auto;
			width: 1.313em; // 21px
		}

		&:hover
		{
			color: #3d3d3d;
		}
	}

	a.prev
	{
		//left: @spacing_unit_root + @spacing_unit_root / 2;
        left: 0;
        padding-left: @spacing_unit_root + @spacing_unit_root / 2;

		&:hover
		{
            padding-left: @spacing_unit_root;
            padding-right: @spacing_unit_root / 2;
		}

		svg
		{
			float: left;
			margin-right: @spacing_unit_root / 2;
		}

		span.text-label
		{
			float: left;
		}
	}

	a.next
	{
		//right: @spacing_unit_root;
        right: 0;
        padding-right: @spacing_unit_root + @spacing_unit_root / 2;

		&:hover
		{
			//right: @spacing_unit_root - @spacing_unit_root / 2;
            //padding-left: @spacing_unit_root / 2;
            padding-right: @spacing_unit_root;
            padding-left: @spacing_unit_root / 2;
		}

		svg
		{
			float: right;
			margin-left: @spacing_unit / 2;
		}

		span.text-label
		{
			float: right;
		}
	}

	a.close
	{
		//.transition(all 300ms ease-out);
		-webkit-animation: spinOnceBack 300ms ease-out;

		display: none;
		height: 80px;
		text-decoration: none;
		margin-top: -110px;
		position: fixed;
			top: 50%;
			right: @spacing_unit_root;
		opacity: .5;
		width: 80px;

		svg
		{
			display: block;
			fill: #bfbfbf;
			height: 80px;
			margin: 0 auto;
			width: 32px;
		}

		&:hover
		{
			//.rotate(360deg);
			-webkit-animation: spinOnce 300ms ease-out;

			svg
			{
				fill: #3d3d3d;
				right: 25px;
			}
		}
	}
}

nav#nav-sequence.compact
{
	@factor: .45;

	span.text-label
	{
		height: @header_height * @factor;
		line-height: @header_height * @factor;
	}

	a.prev,
	a.next
	{
        height: @header_height * @factor;

		svg
		{
			height: @header_height * @factor;
            width: 0.875em; // 14px;
		}
	}
}

// Media Queries

@media screen and (max-width: @entry_single_column_max_width)
{
    nav#nav-sequence
	{
        @factor: 1;

		span.text-label
		{
			display: block;
            height: @header_height * @factor;
            line-height: @header_height * @factor;
		}

		a.prev,
		a.next
		{
			height: @header_height * @factor;
			margin-top: 0;
			position: fixed;
				top: 0;
				z-index: 100;

			svg
			{
				height: @header_height * @factor;
                width: 0.875em; // 14px;
			}
		}

        a.prev
        {
            padding-left: @spacing_unit_root;

    		&:hover
    		{
                padding-left: @spacing_unit_root - @spacing_unit_root / 2;
                padding-right: @spacing_unit_root / 2;
    		}

            svg
    		{
    			//margin-right: @spacing_unit / 3;
    		}
        }

        a.next
        {
            padding-right: @spacing_unit_root;

            &:hover
            {
                padding-right: @spacing_unit_root - @spacing_unit_root / 2;
                padding-left: @spacing_unit_root / 2;
            }
        }

		a.close
		{
			display: none;
		}
	}
}

@media screen and (max-width: 727px)
{
    nav#nav-sequence
    {
        @factor: .75;

        span.text-label
        {
            height: @header_height * @factor;
            line-height: @header_height * @factor;
        }

        a.prev,
        a.next
        {
            height: @header_height * @factor;

            svg
            {
                height: @header_height * @factor;
            }
        }
    }
}

@media screen and (max-width: 476px)
{
    nav#nav-sequence
    {
        a.prev,
        a.next
        {
            svg
            {
                fill: currentColor;
                stroke: none;
                width: 9px;
            }
        }

        a.prev
    	{
            padding-left: @spacing_unit_root / 2;
            padding-right: 0;

            &:hover
            {
                padding-left: @spacing_unit_root / 2;
                padding-right: 0;
            }

    		svg
    		{
    			margin-right: @spacing_unit / 5;
    		}
    	}

        a.next
    	{
            padding-right: @spacing_unit_root / 2;
            padding-left: 0;

            &:hover
            {
                padding-right: @spacing_unit_root / 2;
                padding-left: 0;
            }

    		svg
    		{
    			margin-left: @spacing_unit / 5;
    		}
    	}

        &.compact
        {
            a.prev,
            a.next
            {
                svg
                {
                    width: 9px;
                }
            }
        }
    }
}

// Animations

@-webkit-keyframes spinOnce
{
	0%
	{
		.rotate(0);
	}

	100%
	{
		.rotate(90deg);
	}
}

@-webkit-keyframes spinOnceBack
{
	0%
	{
		.rotate(0);
	}

	100%
	{
		.rotate(-90deg);
	}
}
