/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.debug {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
.debug-box {
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
  background: #fff;
  border: 1px solid #dadada;
  border-top: 0;
  border-left: 0;
  padding: 20px 15px 15px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
body {
  color: #3d3d3d;
}
a {
  outline: none;
}
a[ng-click] {
  cursor: pointer;
}
svg#symbols {
  display: none;
}
.main-container {
  margin: 0 auto;
}
.sub-view {
  clear: both;
}
.sub-view.ng-enter {
  -webkit-transition: all 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition: all 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -ms-transition: all 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -o-transition: all 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: all 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  opacity: 0;
}
.sub-view.ng-leave {
  -webkit-transition: all 100ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition: all 100ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -ms-transition: all 100ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -o-transition: all 100ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: all 100ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  opacity: 0;
}
.sub-view.ng-enter-active {
  opacity: 1;
}
.sub-view.ng-leave-active {
  opacity: 0;
}
header {
  font-size: 1rem;
  height: 16.25rem;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
header h1#logo {
  -webkit-border-radius: 3.438em 3.438em 3.438em 3.438em;
  -moz-border-radius: 3.438em 3.438em 3.438em 3.438em;
  border-radius: 3.438em 3.438em 3.438em 3.438em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f56392;
  background-image: url(../images/jess_pink.png);
  background-position: center;
  background-repeat: no-repeat;
  display: table;
  height: 6.875em;
  width: 6.875em;
}
header h1#logo,
header h1#logo.centered {
  margin-top: -3.4375em;
  margin-left: -3.4375em;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 101;
}
header h1#logo a {
  color: #FFF;
  display: table-cell;
  height: 6.875em;
  line-height: 1.500em;
  text-align: center;
  text-decoration: none;
  width: 6.875em;
  vertical-align: middle;
}
header h1#logo a img {
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.188em 0 0 -2.188em;
  width: 4.375em;
}
header h1#logo a span.name {
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -ms-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.438em;
  font-style: italic;
  font-weight: 700;
  opacity: 0;
  text-transform: lowercase;
}
header h1#logo a:hover img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0;
}
header h1#logo a:hover span.name {
  opacity: 1;
}
ul#contact {
  clear: both;
  margin: 6.25rem auto;
  padding: 0 1.5625rem;
  text-align: center;
}
ul#contact h3 {
  color: #4c4c4c;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.188em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 1.5625rem 0;
  text-transform: uppercase;
}
ul#contact li,
ul#contact a {
  display: inline-block;
  height: 3.250em;
  width: 3.250em;
}
ul#contact li {
  margin: 0 0 0.75em 0.75em;
}
ul#contact li:first-child {
  margin-left: 0;
}
ul#contact li.linked-in svg {
  position: relative;
  top: -0.125em;
  left: 0;
  width: 1.438em;
}
ul#contact li.github svg {
  position: relative;
  top: 0;
  left: 1px;
  width: 1.875em;
}
ul#contact li.twitter svg {
  position: relative;
  top: 0.063em;
  left: 0.063em;
}
ul#contact li.delicious svg {
  width: 1.250em;
}
ul#contact li.pinterest svg {
  width: 1.875em;
}
ul#contact svg {
  display: inline-block;
  fill: currentColor;
  height: 3.250em;
  width: 1.625em;
}
ul#contact a {
  color: #979797;
  background: #ededed;
  -webkit-border-radius: 1.625em 1.625em 1.625em 1.625em;
  -moz-border-radius: 1.625em 1.625em 1.625em 1.625em;
  border-radius: 1.625em 1.625em 1.625em 1.625em;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
}
ul#contact a:hover {
  color: #3d3d3d;
  background: #b6e7e4;
}
ul#contact a.fa {
  display: inline;
}
#earth-crafted {
  color: #ccc;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.125em;
  line-height: 1.375em;
  margin-bottom: 3.125rem;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 477px) {
  html {
    font-size: 14px;
  }
  header h1#logo {
    left: 1.5625rem;
    margin-left: 0;
  }
  ul#contact li {
    font-size: 1.1rem;
  }
}
@media (min-width: 478px) {
  body::after {
    content: 'min-width: 1 column width + 1px';
    font-size: 0;
    height: 0;
    line-height: 0;
  }
  html {
    font-size: 16px;
  }
  header {
    width: auto;
  }
}
@media (max-width: 1254px) {
  header {
    height: 12.1875rem;
  }
}
@media (min-width: 1254px) {
  body::after {
    content: 'min-width: 2 column width + 300px';
    font-size: 0;
    height: 0;
    line-height: 0;
  }
  html {
    font-size: 16px;
  }
  header,
  .container {
    width: 954px;
  }
}
@media (min-width: 1431px) {
  body::after {
    content: 'min-width: 3 column width';
    font-size: 0;
    height: 0;
    line-height: 0;
  }
  html {
    font-size: 18px;
  }
  header,
  .container {
    width: 1120.95px;
  }
}
nav#nav-main {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}
nav#nav-main a#nav-icon {
  height: 16.25rem;
}
nav#nav-main a#nav-icon svg {
  height: 16.25rem;
}
nav#nav-main .nav-items ul.nav-primary li {
  height: 16.25rem;
}
nav#nav-main .nav-items ul.nav-primary li.gallery a svg,
nav#nav-main .nav-items ul.nav-primary li.list a svg {
  height: 16.25rem;
}
nav#nav-main .nav-items ul.nav-primary li.gallery a span.text-label,
nav#nav-main .nav-items ul.nav-primary li.list a span.text-label {
  height: 16.25rem;
  line-height: 16.25rem;
}
nav#nav-main .nav-items ul.nav-sub li {
  height: 16.25rem;
  line-height: 16.25rem;
}
nav#nav-main .nav-items ul.nav-sub li a {
  height: 16.25rem;
  line-height: 16.25rem;
}
nav#nav-main .wrapper {
  overflow: hidden;
}
nav#nav-main a#nav-icon {
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  color: #808080;
  display: none;
  float: right;
  margin-right: 1.5625rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  width: 2.375em;
}
nav#nav-main a#nav-icon svg {
  width: 100%;
  stroke: currentColor;
}
nav#nav-main a#nav-icon:hover {
  color: #000;
}
nav#nav-main .nav-items {
  float: left;
  width: 100%;
}
nav#nav-main .nav-items ul.nav-primary {
  float: left;
}
nav#nav-main .nav-items ul.nav-primary::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  background: #1f1f1f;
  content: '';
  height: 1rem;
  position: absolute;
  top: -2.0625rem;
  right: 2.25rem;
  width: 1rem;
}
nav#nav-main .nav-items ul.nav-primary.animating::before {
  top: 0;
}
nav#nav-main .nav-items ul.nav-primary li {
  float: left;
  margin-left: 1.5625rem;
}
nav#nav-main .nav-items ul.nav-primary li:first-child {
  margin-left: 0;
}
nav#nav-main .nav-items ul.nav-primary li.gallery a,
nav#nav-main .nav-items ul.nav-primary li.list a {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  display: block;
  color: #808080;
  text-decoration: none;
  float: left;
}
nav#nav-main .nav-items ul.nav-primary li.gallery a svg,
nav#nav-main .nav-items ul.nav-primary li.list a svg {
  fill: transparent;
  stroke: currentColor;
  float: left;
  width: 2.000em;
}
nav#nav-main .nav-items ul.nav-primary li.gallery a span.text-label,
nav#nav-main .nav-items ul.nav-primary li.list a span.text-label {
  color: #f56392;
  display: none;
  float: left;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 5px;
  margin-left: 1.5625rem;
  text-transform: uppercase;
}
nav#nav-main .nav-items ul.nav-primary li.gallery a:hover,
nav#nav-main .nav-items ul.nav-primary li.list a:hover {
  color: #000;
}
nav#nav-main .nav-items ul.nav-primary li.gallery.active a,
nav#nav-main .nav-items ul.nav-primary li.list.active a {
  color: #000;
  cursor: default;
}
nav#nav-main .nav-items ul.nav-sub {
  float: right;
}
nav#nav-main .nav-items ul.nav-sub li {
  float: left;
  margin-right: 3.125rem;
  width: auto;
}
nav#nav-main .nav-items ul.nav-sub li:last-child {
  margin-right: 0;
}
nav#nav-main .nav-items ul.nav-sub li a {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  color: #808080;
  display: block;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.125em;
  letter-spacing: 0.188em;
  text-decoration: none;
  text-transform: uppercase;
}
nav#nav-main .nav-items ul.nav-sub li a:hover {
  color: #000;
}
nav#nav-main .nav-items ul.nav-sub li.active a {
  color: #000;
  cursor: default;
}
nav#nav-main.centered a#nav-icon {
  float: none;
  margin: 0 auto;
  opacity: 0;
}
nav#nav-main.centered .nav-items ul.nav-primary::before {
  margin-right: -0.390625rem;
  right: 50%;
}
nav#nav-main.compact a#nav-icon {
  height: 5.6875rem;
}
nav#nav-main.compact a#nav-icon svg {
  height: 5.6875rem;
}
nav#nav-main.compact .nav-items ul.nav-primary li {
  height: 5.6875rem;
}
nav#nav-main.compact .nav-items ul.nav-primary li.gallery a svg,
nav#nav-main.compact .nav-items ul.nav-primary li.list a svg {
  height: 5.6875rem;
}
nav#nav-main.compact .nav-items ul.nav-primary li.gallery a span.text-label,
nav#nav-main.compact .nav-items ul.nav-primary li.list a span.text-label {
  height: 5.6875rem;
  line-height: 5.6875rem;
}
nav#nav-main.compact .nav-items ul.nav-sub li {
  height: 5.6875rem;
  line-height: 5.6875rem;
}
nav#nav-main.compact .nav-items ul.nav-sub li a {
  height: 5.6875rem;
  line-height: 5.6875rem;
}
nav#nav-main.compact a#nav-icon {
  opacity: 1;
}
nav#nav-main.compact.collapsed {
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.04);
}
nav#nav-main.compact.collapsed .wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
nav#nav-main.compact .wrapper {
  background: #FFF;
  border-bottom: 1px solid #FFF;
}
@media (max-width: 727px) {
  nav#nav-main a#nav-icon {
    height: 12.1875rem;
  }
  nav#nav-main a#nav-icon svg {
    height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-primary li {
    height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery a svg,
  nav#nav-main .nav-items ul.nav-primary li.list a svg {
    height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery a span.text-label,
  nav#nav-main .nav-items ul.nav-primary li.list a span.text-label {
    height: 12.1875rem;
    line-height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-sub li {
    height: 12.1875rem;
    line-height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-sub li a {
    height: 12.1875rem;
    line-height: 12.1875rem;
  }
}
@media (max-width: 1254px) {
  nav#nav-main a#nav-icon {
    height: 12.1875rem;
  }
  nav#nav-main a#nav-icon svg {
    height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-primary li {
    height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery a svg,
  nav#nav-main .nav-items ul.nav-primary li.list a svg {
    height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery a span.text-label,
  nav#nav-main .nav-items ul.nav-primary li.list a span.text-label {
    height: 12.1875rem;
    line-height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-sub li {
    height: 12.1875rem;
    line-height: 12.1875rem;
  }
  nav#nav-main .nav-items ul.nav-sub li a {
    height: 12.1875rem;
    line-height: 12.1875rem;
  }
  nav#nav-main,
  nav#nav-main.compact {
    position: fixed;
  }
  nav#nav-main a#nav-icon,
  nav#nav-main.compact a#nav-icon {
    display: block;
    font-size: 1rem;
  }
  nav#nav-main .nav-items,
  nav#nav-main.compact .nav-items {
    background: #1f1f1f;
    clear: both;
    display: none;
    padding-top: 1.5625rem;
    width: 100%;
  }
  nav#nav-main .nav-items ul.nav-primary,
  nav#nav-main.compact .nav-items ul.nav-primary {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav#nav-main .nav-items ul.nav-primary li,
  nav#nav-main.compact .nav-items ul.nav-primary li {
    height: 5rem;
    line-height: 5rem;
    margin: 0;
  }
  nav#nav-main .nav-items ul.nav-primary li:first-child,
  nav#nav-main.compact .nav-items ul.nav-primary li:first-child {
    margin: 0;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery,
  nav#nav-main.compact .nav-items ul.nav-primary li.gallery,
  nav#nav-main .nav-items ul.nav-primary li.list,
  nav#nav-main.compact .nav-items ul.nav-primary li.list {
    width: 100%;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery a,
  nav#nav-main.compact .nav-items ul.nav-primary li.gallery a,
  nav#nav-main .nav-items ul.nav-primary li.list a,
  nav#nav-main.compact .nav-items ul.nav-primary li.list a {
    color: #f56392;
    width: 100%;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery a svg,
  nav#nav-main.compact .nav-items ul.nav-primary li.gallery a svg,
  nav#nav-main .nav-items ul.nav-primary li.list a svg,
  nav#nav-main.compact .nav-items ul.nav-primary li.list a svg {
    fill: currentColor;
    height: 5rem;
    line-height: 5rem;
    margin-left: 3.125rem;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery a span.text-label,
  nav#nav-main.compact .nav-items ul.nav-primary li.gallery a span.text-label,
  nav#nav-main .nav-items ul.nav-primary li.list a span.text-label,
  nav#nav-main.compact .nav-items ul.nav-primary li.list a span.text-label {
    color: #FFF;
    display: block;
    height: 5rem;
    line-height: 5rem;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery a:hover,
  nav#nav-main.compact .nav-items ul.nav-primary li.gallery a:hover,
  nav#nav-main .nav-items ul.nav-primary li.list a:hover,
  nav#nav-main.compact .nav-items ul.nav-primary li.list a:hover {
    color: #FFF;
    background: #343434;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery a:hover svg,
  nav#nav-main.compact .nav-items ul.nav-primary li.gallery a:hover svg,
  nav#nav-main .nav-items ul.nav-primary li.list a:hover svg,
  nav#nav-main.compact .nav-items ul.nav-primary li.list a:hover svg {
    stroke: currentColor;
  }
  nav#nav-main .nav-items ul.nav-primary li.gallery.active a,
  nav#nav-main.compact .nav-items ul.nav-primary li.gallery.active a,
  nav#nav-main .nav-items ul.nav-primary li.list.active a,
  nav#nav-main.compact .nav-items ul.nav-primary li.list.active a {
    color: #f56392;
  }
  nav#nav-main .nav-items ul.nav-sub,
  nav#nav-main.compact .nav-items ul.nav-sub {
    float: left;
    padding-top: 1.5625rem;
    padding-bottom: 2.60416667rem;
    width: 100%;
  }
  nav#nav-main .nav-items ul.nav-sub li,
  nav#nav-main.compact .nav-items ul.nav-sub li {
    height: 3.125rem;
    line-height: 3.125rem;
    width: 100%;
  }
  nav#nav-main .nav-items ul.nav-sub li a,
  nav#nav-main.compact .nav-items ul.nav-sub li a {
    color: #FFF;
    height: 3.125rem;
    line-height: 3.125rem;
    padding-left: 3.125rem;
    width: 100%;
  }
  nav#nav-main .nav-items ul.nav-sub li a:hover,
  nav#nav-main.compact .nav-items ul.nav-sub li a:hover {
    color: #b6e7e4;
  }
  nav#nav-main .nav-items ul.nav-sub li.active a,
  nav#nav-main.compact .nav-items ul.nav-sub li.active a {
    color: #FFF;
  }
}
nav#nav-sequence {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav#nav-sequence.sequenced {
  display: block;
}
nav#nav-sequence.compact span.text-label {
  display: block;
  height: 5.6875rem;
  line-height: 5.6875rem;
}
nav#nav-sequence.compact a.prev,
nav#nav-sequence.compact a.next {
  height: 5.6875rem;
  margin-top: 0;
}
nav#nav-sequence.compact a.prev svg,
nav#nav-sequence.compact a.next svg {
  height: 5.6875rem;
  width: 0.875em;
}
nav#nav-sequence span.text-label {
  display: none;
  color: #808080;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.125em;
  height: 16.25rem;
  letter-spacing: 0.188em;
  line-height: 16.25rem;
  text-decoration: none;
  text-transform: uppercase;
}
nav#nav-sequence span.text-label:hover {
  color: #000;
}
nav#nav-sequence a.prev,
nav#nav-sequence a.next {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  color: #bfbfbf;
  height: 100%;
  text-decoration: none;
  position: fixed;
  top: 0;
  width: 6.25rem;
}
nav#nav-sequence a.prev svg,
nav#nav-sequence a.next svg {
  display: block;
  fill: none;
  stroke: currentColor;
  height: 100%;
  width: 1.313em;
}
nav#nav-sequence a.prev:hover,
nav#nav-sequence a.next:hover {
  color: #3d3d3d;
}
nav#nav-sequence a.prev {
  left: 0;
  padding-left: 4.6875rem;
}
nav#nav-sequence a.prev:hover {
  padding-left: 3.125rem;
  padding-right: 1.5625rem;
}
nav#nav-sequence a.prev svg {
  float: left;
  margin-right: 1.04166667rem;
}
nav#nav-sequence a.prev span.text-label {
  float: left;
}
nav#nav-sequence a.next {
  right: 0;
  padding-right: 4.6875rem;
}
nav#nav-sequence a.next:hover {
  padding-right: 3.125rem;
  padding-left: 1.5625rem;
}
nav#nav-sequence a.next svg {
  float: right;
  margin-left: 1.04166667em;
}
nav#nav-sequence a.next span.text-label {
  float: right;
}
nav#nav-sequence a.close {
  -webkit-animation: spinOnceBack 300ms ease-out;
  -moz-animation: spinOnceBack 300ms ease-out;
  -o-animation: spinOnceBack 300ms ease-out;
  animation: spinOnceBack 300ms ease-out;
  display: none;
  height: 80px;
  text-decoration: none;
  margin-top: -110px;
  position: fixed;
  top: 50%;
  right: 3.125rem;
  opacity: .5;
  width: 80px;
}
nav#nav-sequence a.close svg {
  display: block;
  fill: #bfbfbf;
  height: 80px;
  margin: 0 auto;
  width: 32px;
}
nav#nav-sequence a.close:hover {
  -webkit-animation: spinOnce 300ms ease-out;
  -moz-animation: spinOnce 300ms ease-out;
  -o-animation: spinOnce 300ms ease-out;
  animation: spinOnce 300ms ease-out;
}
nav#nav-sequence a.close:hover svg {
  fill: #3d3d3d;
  right: 25px;
}
@media (max-width: 727px) {
  nav#nav-sequence {
    z-index: 100;
  }
  nav#nav-sequence span.text-label {
    display: block;
    height: 12.1875rem;
    line-height: 12.1875rem;
  }
  nav#nav-sequence a.prev,
  nav#nav-sequence a.next {
    height: 12.1875rem;
    margin-top: 0;
  }
  nav#nav-sequence a.prev svg,
  nav#nav-sequence a.next svg {
    height: 12.1875rem;
    width: 0.875em;
  }
  nav#nav-sequence a.prev {
    padding-left: 3.125rem;
  }
  nav#nav-sequence a.prev:hover {
    padding-left: 3.125rem;
    padding-right: 0;
  }
  nav#nav-sequence a.next {
    padding-right: 3.125rem;
  }
  nav#nav-sequence a.next:hover {
    padding-right: 3.125rem;
    padding-left: 0;
  }
  nav#nav-sequence a.prev svg,
  nav#nav-sequence a.next svg {
    fill: currentColor;
    stroke: none;
    width: 9px;
  }
  nav#nav-sequence a.prev svg {
    margin-right: 0.625em;
  }
  nav#nav-sequence a.next svg {
    margin-left: 0.625em;
  }
  nav#nav-sequence.compact a.prev svg,
  nav#nav-sequence.compact a.next svg {
    width: 9px;
  }
}
@media (min-width: 478px) and (max-width: 1254px) {
  nav#nav-sequence {
    z-index: 100;
    /*
        a.prev
        {
            padding-left: @spacing_unit_root;

            &:hover
            {
                padding-left: @spacing_unit_root - @spacing_unit_root / 2;
                padding-right: @spacing_unit_root / 2;
            }
        }

        a.next
        {
            padding-right: @spacing_unit_root;

            &:hover
            {
                padding-right: @spacing_unit_root - @spacing_unit_root / 2;
                padding-left: @spacing_unit_root / 2;
            }
        }
        */
  }
}
/*
@media (min-width: (@1_column_width + 1px)) and (max-width: 727px)
{
    nav#nav-sequence
    {
        @factor: .75;

        .sequence-nav-height(@factor);

        .sequence-nav-edge-padding(@spacing_unit_root);
    }
}
*/
@media (min-width: 728px) and (max-width: 827px) {
  nav#nav-sequence span.text-label {
    display: block;
    height: 12.1875rem;
    line-height: 12.1875rem;
  }
  nav#nav-sequence a.prev,
  nav#nav-sequence a.next {
    height: 12.1875rem;
    margin-top: 0;
  }
  nav#nav-sequence a.prev svg,
  nav#nav-sequence a.next svg {
    height: 12.1875rem;
    width: 0.875em;
  }
  nav#nav-sequence a.prev {
    padding-left: 3.125rem;
  }
  nav#nav-sequence a.prev:hover {
    padding-left: 3.125rem;
    padding-right: 0;
  }
  nav#nav-sequence a.next {
    padding-right: 3.125rem;
  }
  nav#nav-sequence a.next:hover {
    padding-right: 3.125rem;
    padding-left: 0;
  }
}
@media (min-width: 828px) and (max-width: 1254px) {
  nav#nav-sequence {
    left: 50%;
    margin-left: -363.5px;
    width: 727px;
  }
  nav#nav-sequence span.text-label {
    display: block;
    height: 12.1875rem;
    line-height: 12.1875rem;
  }
  nav#nav-sequence a.prev,
  nav#nav-sequence a.next {
    height: 12.1875rem;
    margin-top: 0;
  }
  nav#nav-sequence a.prev svg,
  nav#nav-sequence a.next svg {
    height: 12.1875rem;
    width: 0.875em;
  }
  nav#nav-sequence a.prev {
    padding-left: 0;
  }
  nav#nav-sequence a.prev:hover {
    padding-left: 0;
    padding-right: 0;
  }
  nav#nav-sequence a.next {
    padding-right: 0;
  }
  nav#nav-sequence a.next:hover {
    padding-right: 0;
    padding-left: 0;
  }
  nav#nav-sequence a.prev,
  nav#nav-sequence a.next {
    position: absolute;
  }
}
@-webkit-keyframes spinOnce {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-moz-keyframes spinOnce {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-o-keyframes spinOnce {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes spinOnce {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes spinOnceBack {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@-moz-keyframes spinOnceBack {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@-o-keyframes spinOnceBack {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@keyframes spinOnceBack {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
div.loader {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  /*
    .spinner::after
    {
        background: #3d3d3d;
        border-radius: 50%;
        content: '';
        display: block;
        height: 6.000em;
        margin-left: -3em;
        margin-top: -3em;
        position: relative;
            top: 50%;
            left: 50%;
            //z-index: -1;
        width: 6.000em;
    }
    */
}
div.loader.complete {
  opacity: 0;
  z-index: -1;
}
div.loader .spinner {
  -webkit-animation: spinner 800ms infinite linear;
  -moz-animation: spinner 800ms infinite linear;
  -o-animation: spinner 800ms infinite linear;
  animation: spinner 800ms infinite linear;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-right: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  font-size: 10px;
  position: absolute;
  top: 1.04166667rem;
  right: 1.04166667rem;
  text-indent: -9999em;
}
div.loader .spinner {
  border-radius: 50%;
  display: block;
  height: 3.000em;
  width: 3.000em;
}
.transparent div.loader {
  background: rgba(255, 255, 255, 0.85);
}
.transparent div.loader .spinner {
  border-bottom-color: #3d3d3d;
  border-left-color: #3d3d3d;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#entry-gallery {
  overflow: hidden;
}
#entry-gallery ul.gallery {
  line-height: 0;
  text-align: center;
}
#entry-gallery .thumbnail {
  display: inline-block;
  font-size: 1rem;
  position: relative;
  top: 0;
  left: 0;
  width: 477px;
}
#entry-gallery .thumbnail li.canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#entry-gallery .thumbnail li.canvas.large {
  font-size: 1.25rem;
}
#entry-gallery .thumbnail li.canvas.large .description ul.roles {
  display: block;
}
#entry-gallery .thumbnail li.canvas.small {
  font-size: .85rem;
}
#entry-gallery .thumbnail li.canvas.small .description h3::after {
  border-bottom: 0;
}
#entry-gallery .thumbnail li.canvas.small .description ul.roles {
  display: none;
}
#entry-gallery .thumbnail::before {
  content: '';
  display: block;
  padding-bottom: 75.0524109%;
}
#entry-gallery .thumbnail .description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
#entry-gallery .thumbnail .description h3 {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  transition-delay: 120ms;
  color: #fff;
  display: inline-block;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.375em;
  letter-spacing: 1px;
  line-height: 1.375em;
  margin: 4.6875em 1.5em 0 1.5em;
  position: relative;
  top: 0;
  left: 0;
}
#entry-gallery .thumbnail .description h3::after {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  content: '';
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
}
#entry-gallery .thumbnail .description ul.roles {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  display: block;
  position: absolute;
  bottom: 3.125em;
  left: 0;
  text-align: center;
  width: 100%;
}
#entry-gallery .thumbnail .description ul.roles li {
  color: #fff;
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.813em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.625em;
  margin-left: .625em;
}
#entry-gallery .thumbnail .description ul.roles li::before {
  content: '+';
  margin-right: .625em;
}
#entry-gallery .thumbnail .description ul.roles li:first-child::before {
  content: '';
  margin-right: 0;
}
#entry-gallery .thumbnail:hover .description h3 {
  top: -1.5625em;
}
#entry-gallery .thumbnail a {
  /*
            display: block;
            height: 358px;
            position: relative;
                top: 0;
                left: 0;
                z-index: 1;
            overflow: hidden;
            width: @thumb_width;
            */
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  /*
            &::before
            {
                content: '';
                display: block;
                padding-top: 100%; 	/* initial ratio of 1:1
            }
            */
}
#entry-gallery .thumbnail a img {
  display: block;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Used this to test a downscaling issue that's emerged in the
                latest version of Chrome. This helps, but it's worse at really
                downscaled levels and it looks horrible in Firefox.
                image-rendering: -moz-crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                */
}
@media (max-width: 477px) {
  #entry-gallery ul.gallery .thumbnail {
    height: auto;
    width: 100%;
  }
}
@media (min-width: 478px) and (max-width: 954px) {
  #entry-gallery ul.gallery .thumbnail {
    height: auto;
    width: 50%;
  }
}
@media (min-width: 955px) and (max-width: 1431px) {
  #entry-gallery ul.gallery .thumbnail {
    height: auto;
    width: 33.33333333%;
  }
}
@media (min-width: 1432px) and (max-width: 1908px) {
  #entry-gallery ul.gallery .thumbnail {
    height: auto;
    width: 25%;
  }
}
@media (min-width: 1909px) and (max-width: 2385px) {
  #entry-gallery ul.gallery .thumbnail {
    height: auto;
    width: 20%;
  }
}
@media (min-width: 2386px) {
  #entry-gallery ul.gallery .thumbnail {
    height: auto;
    width: 477px;
  }
}
#entry-gallery .container {
  margin: 0 auto;
  overflow: hidden;
  width: auto;
}
#entry-gallery .thumbnail li.astronomical-league {
  background: #8f2d44;
}
#entry-gallery .thumbnail li.maker-camp {
  background: no-repeat url(../../../images/thumbs/maker_camp_thumb2.jpg);
  -webkit-background-size: cover auto;
  -moz-background-size: cover auto;
  -o-background-size: cover auto;
  background-size: cover auto;
}
#entry-gallery .thumbnail li.maker-camp .description h3 {
  color: #3d3d3d;
}
#entry-gallery .thumbnail li.maker-camp .description h3::after {
  border-color: #3d3d3d;
}
#entry-gallery .thumbnail li.maker-camp .description ul.roles li {
  color: #3d3d3d;
}
#entry-gallery .thumbnail li.nintendo-community {
  background: #e03f47;
}
#entry-gallery .thumbnail li.wedding {
  background: url(../../../images/thumbs/bg_paper_light.jpg);
}
#entry-gallery .thumbnail li.wedding .description h3 {
  color: #3d3d3d;
}
#entry-gallery .thumbnail li.wedding .description h3::after {
  border-color: #3d3d3d;
}
#entry-gallery .thumbnail li.wedding .description ul.roles li {
  color: #3d3d3d;
}
#entry-gallery .thumbnail li.choose-your-own-birth {
  background: #e3418a;
}
#entry-gallery .thumbnail li.learning-creative-learning {
  background: #ace8dc;
}
#entry-gallery .thumbnail li.learning-creative-learning .description h3 {
  color: #3d3d3d;
}
#entry-gallery .thumbnail li.learning-creative-learning .description h3::after {
  border-color: #3d3d3d;
}
#entry-gallery .thumbnail li.learning-creative-learning .description ul.roles li {
  color: #3d3d3d;
}
#entry-gallery .thumbnail li.audubon-birding-the-net {
  background: #e5ab3d;
}
#entry-gallery .thumbnail li.subaru-work-play-love {
  background: #2c5fa1;
}
#entry-gallery .thumbnail li.airforce-rotc-scholarship {
  background: #79bace;
}
#entry-gallery .thumbnail li.girl-rock-nation {
  background: #00b5cb;
}
#entry-gallery .thumbnail li.coaches-vs-cancer {
  background: #cc6327;
}
#entry-gallery .thumbnail li.paris-from-memory {
  background: #0d0b13;
}
#entry-gallery .thumbnail li.late-night-camp-hyrule {
  background: #1e4c72;
}
#entry-gallery .thumbnail li.sugarcrave {
  background: no-repeat url(../../../images/thumbs/sugarcrave_thumb2.jpg);
  -webkit-background-size: cover auto;
  -moz-background-size: cover auto;
  -o-background-size: cover auto;
  background-size: cover auto;
}
#entry-list {
  font-family: 'Archivo Narrow', sans-serif;
  overflow: hidden;
}
#entry-list .container {
  margin: 0 auto;
  overflow: hidden;
}
#entry-list ul.entries {
  float: left;
  font-size: 3.250em;
  font-weight: 700;
  line-height: 1.019em;
  overflow: hidden;
  /* For filter implementation.
        li.ng-move,
        li.ng-enter,
        li.ng-leave
        {
          transition:all linear 0.5s;
        }

        li.ng-leave.ng-leave-active,
        li.ng-move,
        li.ng-enter
        {
          opacity: 0;
        }

        li.ng-leave,
        li.ng-move.ng-move-active,
        li.ng-enter.ng-enter-active
        {
          opacity: 1;
        }
        */
}
#entry-list ul.entries li {
  display: block;
}
#entry-list ul.entries li.ng-hide-add,
#entry-list ul.entries li.ng-hide-remove {
  transition-delay: 300ms;
}
#entry-list ul.entries li.ng-hide-remove {
  -webkit-animation: fadeInWithPause 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-animation: fadeInWithPause 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -o-animation: fadeInWithPause 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation: fadeInWithPause 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
#entry-list ul.entries li.ng-hide-remove a {
  color: #dadada;
}
@-webkit-keyframes fadeInWithPause {
  0% {
    height: 0;
    opacity: 0;
  }
  40% {
    height: 100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInWithPause {
  0% {
    height: 0;
    opacity: 0;
  }
  40% {
    height: 100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInWithPause {
  0% {
    height: 0;
    opacity: 0;
  }
  40% {
    height: 100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInWithPause {
  0% {
    height: 0;
    opacity: 0;
  }
  40% {
    height: 100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInTextWithPause {
  0% {
    color: #fff;
  }
  100% {
    color: #f56392;
  }
}
@-moz-keyframes fadeInTextWithPause {
  0% {
    color: #fff;
  }
  100% {
    color: #f56392;
  }
}
@-o-keyframes fadeInTextWithPause {
  0% {
    color: #fff;
  }
  100% {
    color: #f56392;
  }
}
@keyframes fadeInTextWithPause {
  0% {
    color: #fff;
  }
  100% {
    color: #f56392;
  }
}
#entry-list ul.entries a {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  color: #3d3d3d;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
}
#entry-list ul.entries a:hover {
  color: #181818;
}
#entry-list ul.entries a::after {
  -webkit-transition: width 250ms ease-out;
  -moz-transition: width 250ms ease-out;
  -ms-transition: width 250ms ease-out;
  -o-transition: width 250ms ease-out;
  transition: width 250ms ease-out;
  content: '';
  background: #daf3f1;
  display: block;
  height: 1.096em;
  position: absolute;
  top: 6px;
  left: 0;
  z-index: -1;
  width: 0%;
}
#entry-list ul.entries a:hover::after {
  width: 100%;
}
#entry-list ul.categories {
  display: inline-block;
  margin-left: 6.25rem;
}
#entry-list ul.categories a {
  -webkit-border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  border-radius: 22px 22px 22px 22px;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  color: #666;
  border: 2px solid #dadada;
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin-bottom: 7px;
  padding: 0 15px;
  text-decoration: none;
}
#entry-list ul.categories a:hover {
  border-color: #a6a6a6;
}
#entry-list ul.categories a.faded {
  opacity: .5;
}
#entry-list ul.categories a.faded:hover {
  border-color: #3d3d3d;
  color: #000;
}
#entry-list ul.categories a.active {
  background-color: #daf3f1;
  border-color: #daf3f1;
  opacity: 1;
}
#entry-list ul.categories a.active:hover {
  border-color: #daf3f1;
  color: #000;
}
#entry-list ul.categories a span.count {
  display: none;
}
@media (max-width: 477px) {
  #entry-list {
    font-size: .55rem;
  }
}
@media (max-width: 727px) {
  #entry-list {
    font-size: .65rem;
  }
}
@media (max-width: 1054px) {
  #entry-list .container {
    text-align: center;
    margin-top: 3.125rem;
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
    width: auto;
  }
  #entry-list ul.entries {
    text-align: left;
  }
  #entry-list ul.categories {
    float: none;
    margin-right: auto;
    margin-bottom: 3.125rem;
    margin-left: auto;
    text-align: center;
    width: auto;
  }
  #entry-list ul.categories li {
    display: inline-block;
  }
  #entry-list ul.categories a {
    display: inline-block;
    font-size: 15px;
    height: 38px;
    line-height: 38px;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 0 15px;
  }
}
#entry {
  overflow: hidden;
}
#entry .container {
  margin: 0 auto;
  overflow: hidden;
}
#entry h1 {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
  font-size: 2.375em;
  line-height: 1.111em;
  margin-bottom: 3.125rem;
  position: relative;
  top: 0;
  left: 0;
}
#entry h1 .inner-sidebar {
  padding-top: 1.5625rem;
  padding-left: 3.125rem;
  position: relative;
  top: 0;
  left: 0;
}
#entry h1 .inner-sidebar::before {
  content: '';
  border-bottom: 4px solid #3d3d3d;
  position: absolute;
  top: 0;
  left: 3.125rem;
  width: 100%;
}
#entry .main-gallery {
  float: left;
  font-size: 0;
  margin-bottom: 3.125rem;
  text-align: center;
  width: 727px;
}
#entry .main-gallery .main-gallery-item {
  margin-bottom: 1.5625rem;
}
#entry .main-gallery .main-gallery-item:last-child {
  margin-bottom: 0;
}
#entry .main-gallery .main-gallery-item.transparent {
  margin: 3.125rem 0;
}
#entry .main-gallery .main-gallery-item.transparent:first-child {
  margin-top: 0;
}
#entry .main-gallery .main-gallery-item.transparent:last-child {
  margin-bottom: 0;
}
#entry .main-gallery .media {
  display: inline-block;
}
#entry .main-gallery .media img,
#entry .main-gallery .media iframe {
  display: inline-block;
}
#entry .main-gallery .media img:first-child,
#entry .main-gallery .media iframe:first-child {
  margin-top: 9px;
}
#entry .main-gallery .media img {
  visibility: hidden;
}
#entry .main-gallery .media img.complete {
  visibility: visible;
}
#entry .text {
  color: #4c4c4c;
  float: left;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.938em;
  line-height: 2.000em;
  width: 727px;
}
#entry .text p {
  margin: 1.5625rem 0;
}
#entry .text p a {
  color: #3d3d3d;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  white-space: nowrap;
}
#entry .text p a span {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 2px;
  position: relative;
  top: 0;
  left: 0;
}
#entry .text p a.external::after {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  background: #daf3f1;
  color: #3d3d3d;
  content: '\f08e';
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 0.813em;
  height: 2.000em;
  line-height: 2.225em;
  margin: 0 0.077em 0 0.308em;
  position: relative;
  top: -0.077em;
  text-align: center;
  width: 2.000em;
}
#entry .text p a:hover span {
  border-color: #c4c4c4;
}
#entry .text p a:hover.external::after {
  background: #b6e7e4;
}
#entry .text p:first-child {
  margin-top: 0;
}
#entry .sidebar {
  display: inline-block;
  width: 100%;
  margin-left: -727px;
  position: relative;
  z-index: -1;
}
#entry .sidebar .inner-sidebar {
  margin-left: 727px;
  padding-left: 3.125rem;
}
#entry .main-quote {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 727px;
}
#entry .main-quote .text {
  border-top: 1px solid #e9e9e9;
  color: #3d3d3d;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.625em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.462em;
  padding: 1.5625rem 0;
  position: relative;
  top: 0;
  left: 0;
}
#entry .main-quote .source {
  display: table;
  margin-top: 0.625rem;
  margin-left: 4.6875rem;
  margin-bottom: 3.125rem;
}
#entry .main-quote .source .photo {
  -webkit-border-radius: 3.938em 3.938em 3.938em 3.938em;
  -moz-border-radius: 3.938em 3.938em 3.938em 3.938em;
  border-radius: 3.938em 3.938em 3.938em 3.938em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table-cell;
  height: 7.875em;
  width: 7.875em;
  opacity: .8;
}
#entry .main-quote .source .author {
  display: table-cell;
  padding-left: 1.5625rem;
  vertical-align: middle;
}
#entry .main-quote .source .name {
  color: #3d3d3d;
  font-family: 'Archivo Narrow';
  font-size: 1.125em;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 1.04166667rem;
}
#entry .main-quote .source .title,
#entry .main-quote .source .affiliation {
  color: #979797;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.875em;
  font-style: italic;
  line-height: 1.429em;
}
#entry .main-quote svg {
  height: 1.688em;
  stroke: #e9e9e9;
  width: 100%;
}
#entry .data-points {
  color: #999;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.875em;
  line-height: 1.625em;
}
#entry .data-points h2 {
  color: #666;
  font-style: italic;
  font-weight: 500;
}
#entry .data-points ul {
  margin-top: 1.5625rem;
}
#entry .data-points ul:first-child {
  margin-top: 0;
}
#entry .data-points ul ul {
  margin-top: 0;
}
#entry .data-points ul li a {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  color: #f56392;
  display: inline-block;
  opacity: .75;
  position: relative;
  text-decoration: none;
}
#entry .data-points ul li a:hover {
  opacity: 1;
}
#entry .data-points ul li a::after {
  -webkit-transition: width 250ms ease-out;
  -moz-transition: width 250ms ease-out;
  -ms-transition: width 250ms ease-out;
  -o-transition: width 250ms ease-out;
  transition: width 250ms ease-out;
  content: '';
  background: #f56392;
  height: 1px;
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: -1;
  width: 0%;
}
#entry .data-points ul li a:hover::after {
  width: 100%;
}
@media (max-width: 600px) {
  #entry .main-quote .text {
    font-size: 1.35em;
  }
  #entry .main-quote .source {
    display: block;
    margin-left: 0;
  }
  #entry .main-quote .source .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #entry .main-quote .source .author {
    display: block;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
  }
  #entry .main-quote .source .name {
    margin-top: 1.5625rem;
  }
}
@media (max-width: 727px) {
  #entry .main-gallery {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }
  #entry .main-gallery .main-gallery-item.transparent {
    margin-right: 3.125rem;
    margin-left: 3.125rem;
  }
  #entry .main-gallery .media {
    float: none;
    width: 100% !important;
  }
  #entry .main-gallery .media iframe {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #entry .text,
  #entry .sidebar {
    float: none;
    display: block;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
    width: auto;
  }
  #entry .sidebar .inner-sidebar {
    margin-left: 0;
    padding-left: 0;
  }
  #entry h1.sidebar .inner-sidebar::before {
    left: 0;
  }
  #entry .text p a {
    white-space: normal;
  }
  #entry .main-quote {
    float: none;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    width: auto;
  }
  #entry .main-quote .text {
    margin: 0;
  }
}
@media (min-width: 728px) and (max-width: 827px) {
  #entry .main-gallery {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }
  #entry .main-gallery .main-gallery-item.transparent {
    margin-right: 3.125rem;
    margin-left: 3.125rem;
  }
  #entry .main-gallery .media {
    float: none;
    width: 100% !important;
  }
  #entry .main-gallery .media iframe {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #entry .text,
  #entry .sidebar {
    float: none;
    display: block;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
    width: auto;
  }
  #entry .sidebar .inner-sidebar {
    margin-left: 0;
    padding-left: 0;
  }
  #entry h1.sidebar .inner-sidebar::before {
    left: 0;
  }
  #entry .text p a {
    white-space: normal;
  }
  #entry .main-quote {
    float: none;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    width: auto;
  }
  #entry .main-quote .text {
    margin: 0;
  }
  #entry .main-gallery .main-gallery-item {
    margin-right: 3.125rem;
    margin-left: 3.125rem;
  }
}
@media (min-width: 828px) and (max-width: 1254px) {
  #entry .main-gallery {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }
  #entry .main-gallery .main-gallery-item.transparent {
    margin-right: 3.125rem;
    margin-left: 3.125rem;
  }
  #entry .main-gallery .media {
    float: none;
    width: 100% !important;
  }
  #entry .main-gallery .media iframe {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #entry .text,
  #entry .sidebar {
    float: none;
    display: block;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
    width: auto;
  }
  #entry .sidebar .inner-sidebar {
    margin-left: 0;
    padding-left: 0;
  }
  #entry h1.sidebar .inner-sidebar::before {
    left: 0;
  }
  #entry .text p a {
    white-space: normal;
  }
  #entry .main-quote {
    float: none;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    width: auto;
  }
  #entry .main-quote .text {
    margin: 0;
  }
  #entry .main-gallery {
    width: 727px;
  }
  #entry .text,
  #entry .sidebar,
  #entry .main-quote {
    margin-right: auto;
    margin-left: auto;
    width: 727px;
  }
}
#about .container {
  margin: 0 auto;
  overflow: hidden;
}
#about .intro {
  color: #0a0a0a;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 34px;
  line-height: 45px;
}
#about .media-item {
  margin: 3.125rem 0;
}
#about .media-item .media .flag {
  background: #f56392;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  padding: 10px 15px;
}
#about .media-item .media .flag .pointer {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #f56392 transparent transparent transparent;
}
#about .media-item .media .crosshair {
  position: relative;
  left: -15px;
  height: 30px;
  width: 30px;
}
#about .media-item .media .crosshair::before {
  background: #f56392;
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  top: -15px;
  left: 15px;
  width: 2px;
}
#about .media-item .media .crosshair::after {
  background: #f56392;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 30px;
}
#about .media-item .description {
  color: #999;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-size: 0.813em;
  line-height: 20px;
  margin-top: 1.04166667rem;
  margin-left: 1.5625rem;
  margin-right: 1.5625rem;
}
#about .bio {
  color: #4c4c4c;
  float: left;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.938em;
  line-height: 2.000em;
  width: 727px;
}
#about .bio p {
  margin: 1.5625rem 0;
}
#about .bio p a {
  color: #3d3d3d;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  white-space: nowrap;
}
#about .bio p a span {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 2px;
  position: relative;
  top: 0;
  left: 0;
}
#about .bio p a.external::after {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  background: #daf3f1;
  color: #3d3d3d;
  content: '\f08e';
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 0.813em;
  height: 2.000em;
  line-height: 2.225em;
  margin: 0 0.077em 0 0.308em;
  position: relative;
  top: -0.077em;
  text-align: center;
  width: 2.000em;
}
#about .bio p a:hover span {
  border-color: #c4c4c4;
}
#about .bio p a:hover.external::after {
  background: #b6e7e4;
}
#about .bio p:first-child {
  margin-top: 0;
}
#about .sidebar {
  display: inline-block;
  width: 100%;
  margin-left: -727px;
  position: relative;
  z-index: -1;
}
#about .sidebar .inner-sidebar {
  margin-bottom: 1.5625rem;
  margin-left: 727px;
  padding-left: 3.125rem;
}
#about .media-item-small img {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#about .media-item-small .brief {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  color: #494949;
  background: #f5f5f5;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  padding: 15px 25px;
}
@media (max-width: 1254px) {
  .intro {
    margin: 0 3.125rem;
  }
}
@media (max-width: 727px) {
  #about .bio {
    float: none;
    width: auto;
  }
  #about .sidebar {
    display: block;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
    width: auto;
  }
  #about .sidebar .inner-sidebar {
    margin-left: 0;
    padding-left: 0;
  }
  #about .bio {
    margin-right: 3.125rem;
    margin-left: 3.125rem;
  }
}
@media (min-width: 728px) and (max-width: 827px) {
  #about .bio {
    float: none;
    width: auto;
  }
  #about .sidebar {
    display: block;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
    width: auto;
  }
  #about .sidebar .inner-sidebar {
    margin-left: 0;
    padding-left: 0;
  }
  #about .bio {
    margin-right: 3.125rem;
    margin-left: 3.125rem;
  }
}
@media (min-width: 828px) and (max-width: 1254px) {
  #about .bio {
    float: none;
    width: auto;
  }
  #about .sidebar {
    display: block;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
    width: auto;
  }
  #about .sidebar .inner-sidebar {
    margin-left: 0;
    padding-left: 0;
  }
  #about .intro,
  #about .bio,
  #about .sidebar {
    margin-right: auto;
    margin-left: auto;
    width: 727px;
  }
}
