body
{
    color: @black_24;
}

a
{
    outline: none;
}

a[ng-click]
{
    cursor: pointer;
}


svg#symbols
{
    display: none;
}

.main-container
{
    //margin: 0 auto;
    //width: 950px;
    //margin: 0 218px;

    margin: 0 auto;
}

.sub-view
{
    //min-height: 300px;
    clear: both;

    &.ng-enter
    {
        .transition(all 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06));

        opacity: 0;
    }

    &.ng-leave
    {
        .transition(all 100ms cubic-bezier(0.755, 0.05, 0.855, 0.06));

        opacity: 0;
    }

    &.ng-enter-active
    {
        opacity: 1;
    }

    &.ng-leave-active
    {
        opacity: 0;
    }
}

header
{
    .header-height();

    margin: 0 auto;
    position: relative;
        top: 0;
        left: 0;

    h1#logo
    {
        .rounded(3.438em); //55px
        .cover();
        .transition(all 300ms ease-out);

        background-color: @hot_pink;
        background-image: url(../images/jess_pink.png);
        background-position: center;
        background-repeat: no-repeat;
        display: table;
        height: 6.875em; // 110px
        width: 6.875em; // 110px

        &,
        &.centered
        {
            margin-top: -6.875em / 2;
            margin-left: -6.875em / 2;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 101;
        }

        a
        {
            color: #fff;
            display: table-cell;
            height: 6.875em; // 110px
            line-height: 1.500em; // 24px
            text-align: center;
            text-decoration: none;
            width: 6.875em; // 110px
            vertical-align: middle;

            img
            {
                .transition(all 100ms ease-out);

                font-size: 1em;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -2.188em 0 0 -2.188em; //-35px 0 0 -35px;
                width: 4.375em; // 70px
            }

            span.name
            {
                .transition(all 100ms ease-out);
                .transition-delay(200ms);

                font-family: @logo_face;
                font-size: 1.438em; //23px
                font-style: italic;
                font-weight: 700;

                opacity: 0;
                text-transform: lowercase;
            }

            &:hover
            {
                img
                {
                    .rotate(180deg);

                    opacity: 0;
                }

                span.name
                {
                    opacity: 1;
                }
            }
        }
    }
}

ul#contact
{
    clear: both;
    //line-height: 40px;
    //margin: 50px auto 70px auto;
    margin: @spacing_unit_root * 2 auto;
    padding: 0 @spacing_unit_root / 2;
    text-align: center;

    h3
    {
        color: @black_30;
        font-family: @title_face;
        font-size: 1.188em; // 19px
        //font-style: italic;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.375em; // 22px
        margin: 0 0 (@spacing_unit_root / 2) 0;
        //margin: @header_height auto 0.938em auto; //200px auto 40px auto;
        text-transform: uppercase;
    }

    li,
    a
    {
        display: inline-block;
        height: 3.250em; // 52px
        width: 3.250em; // 52px
    }

    li
    {
        margin: 0 0.300em 0.750em 0.300em;
    }

    li.linked-in svg
    {
        position: relative;
            top: -0.125em; // -2px
            left: 0;
        width: 1.438em; // 23px
    }

    li.github svg
    {
        position: relative;
            top: 0;
            left: 0; // This actually scales better as a pixel unit in Chrome.
        width: 1.875em; // 30px
    }

    li.codepen svg
    {
        width: 1.688em; // 27px
    }

    li.twitter svg
    {
        position: relative;
            top: 0.063em; // 1px
            left: 0.063em; // 1px
    }

    li.delicious svg
    {
        width: 1.250em; // 20px
    }

    li.pinterest svg
    {
        width: 1.875em; // 30px
    }

    svg
    {
        display: inline-block;
        fill: currentColor;
        height: 3.250em; // 5px
        width: 1.625em; // 26px
    }

    a
    {
        color: @black_60;
        background: @black_93;
        //font-size: 28px;
        //line-height: 52px;

        .rounded(1.625em);
        .transition(all 250ms ease-out);
        .box-shadow(inset 0 2px 0 0 rgba(0,0,0,.1));
    }

    a:hover
    {
        color: @black_24;
        background: @blue;
    }

    a.fa
    {
        display: inline;
    }
}

#earth-crafted
{
    color: @black_85;
    font-family: @title_face;
    font-size: 1rem;
    letter-spacing: 0.125em; // 2px
    line-height: 1.375em; // 22px
    margin-bottom: @spacing_unit_root;
    text-align: center;
    text-transform: uppercase;
}

#browse-happy
{
    font-family: @title_face;
    font-size: 3.250em; // 52px
    font-weight: 700;
    line-height: 1.019em; // 53px
    margin: @spacing_unit; // IE8 and lower doesn't support rems

    a
    {
        color: @hot_pink;
        text-decoration: none;

        &:hover
        {
            border-bottom: 2px solid @hot_pink;
        }
    }
}

// Mixins

.growing-line-links(@color)
{
    a
    {
        .transition(all 200ms ease-out);

        color: @color;
        display: inline-block;
        opacity: .75;
        position: relative;
        text-decoration: none;

        &:hover
        {
            opacity: 1;
        }

        &::after
        {
            .transition(width 250ms ease-out);

            content: '';
            background: @hot_pink;
            height: 1px;
            position: absolute;
                bottom: 2px;
                left: 0;
                z-index: -1;
            width: 0%;
        }

        &:hover::after
        {
            width: 100%;
        }
    }
}

.internal-text-links()
{
    a
    {
        .transition(all 250ms ease-out);

        border-bottom: 2px solid @black_90;
        color: @black_24;
        text-decoration: none;

        &:hover
        {
            border-color: @black_38;
        }
    }
}

.external-text-links()
{
    span.external
    {
        a
        {
            border: 0;
            color: @black_24;
            text-decoration: none;

            /*
            &.external::after
            {
                .transition(all 250ms ease-out);
                .rounded(1em); // 13px

                background: @blue_light;
                color: @black_24;
                content: '\f08e';
                display: inline-block;
                font-family: 'FontAwesome';
                font-size: 0.813em; // 13px
                height: 2.000em; // 26px;
                line-height: 2.225em;
                margin: 0 0.077em 0 0.308em; //0 1px 0 4px;
                position: relative;
                    top: -0.077em; // -1px
                text-align: center;
                width: 2.000em; // 26px;
            }
            */

            &:hover
            {
                span.first-words,
                span.no-wrap span.last-word
                {
                    border-color: @black_38;
                }

                span.no-wrap span.icon span.svg-container
                {
                    // background: @blue;
                }
            }

            span.first-words,
            span.no-wrap span.last-word
            {
                .transition(all 250ms ease-out);

                border-bottom: 2px solid @black_90;
            }

            span.no-wrap
            {
                white-space: nowrap;

                span.last-word
                {

                }

                span.icon
                {
                    @base_unit: 1.500em;

                    display: inline-block;
                    margin: 0 0.077em 0 0.231em; // 0 1px 0 3px
                    position: relative;
                        top: -1 * @base_unit / 1.5;
                    width: @base_unit;

                    span.svg-container
                    {
                        .rounded(@base_unit);

                        background: @blue_light;
                        display: inline-block;
                        height: @base_unit;
                        position: absolute;
                            top: 0;
                            left: 0;
                        width: @base_unit;

                        svg
                        {
                            @percentage: 35%;

                            height: @percentage;
                            position: absolute;
                                top: (100% - @percentage) / 2;
                                left: (100% - @percentage) / 2;
                            stroke: #3d3d3d;
                            width: @percentage;
                        }
                    }
                }

                span.punctuation
                {

                }
            }
        }
    }
}

.highlight-text-base(@color: #000, @hover-selector-param: ':hover')
{
    @hover-selector: ~'@{hover-selector-param}';

    display: inline-block;
    // padding: 0.069em 0.139em; // 5px 10px
    padding: 0 0.139em; // 0 10px
    position: relative;
    top: 0;
    left: 0;
    text-decoration: none;
    transition: all 250ms ease-out;

    &@{hover-selector}
    {

    }

    &::after
    {
        transition: all 250ms ease-out;
        content: '';
        background: @color;
        display: block;
        position: absolute;
            z-index: -1;
    }
}

.highlight-text-ltr(@color: #000, @hover-selector-param: ':hover', @percentage: 100%)
{
    .highlight-text-base(@color, @hover-selector-param);

    @hover-selector: ~'@{hover-selector-param}';

    &::after
    {
        // height: 1.090em;
        height: @percentage;
        // Using bottom instead of top to keep spacing similar between
        // variations.
        // top: 0.069em; // 5px
        bottom: (100% - @percentage) / 2;
        left: 0;
        width: 0%;
    }

    &@{hover-selector}::after
    {
        width: 100%;
    }
}

.highlight-text-btt(@color: #000, @hover-selector-param: ':hover')
{
    .highlight-text-base(@color, @hover-selector-param);

    @hover-selector: ~'@{hover-selector-param}';

    &::after
    {
        height: 0;
        bottom: 0.069em; // 5px
        left: 0;
        width: 100%;
    }

    &@{hover-selector}::after
    {
        height: 1.090em;
    }
}

// Media Queries

@media (max-width: @1_column_width)
{
    html
    {
        font-size: 15px;
    }

    header
    {
        //margin: 1.563em 0;

        h1#logo
        {
            //margin-left: 1.563em;
            left: @spacing_unit_root / 2;
            margin-left: 0;
        }

        //width: auto;
    }

    ul#contact
    {
        li
        {
            font-size: 1.1rem;
        }
    }
}

@media (max-width: @1_column_width)
{
    @factor: .5;

    .header-height(@factor);

    html
    {
        font-size: 16px;
    }

    header
    {
        font-size: .75 * 1rem;
        width: auto;
    }
}

@media (min-width: (@1_column_width + 1px)) and (max-width: (@2_column_width + 300px))
{
    .query-name('min-width: 1 column width + 1px');

    @factor: .75;

    .header-height(@factor);

    html
    {
        font-size: 16px;
    }

    header
    {
        width: auto;
    }
}

@media (min-width: (@2_column_width + 301px))
{
    .query-name('min-width: 2 column width + 301px');

    html
    {
        font-size: 17px;
    }

    body
    {
        //background: no-repeat center top url(../images/bg_copy_artifacts.png);
    }

    header,
    .container
    {
        width: @2_column_width;
    }
}

@media (min-width: (@3_column_width))
{
    .query-name('min-width: 3 column width');

    html
    {
        //font-size: 18px;
        font-size: 19px;
    }

    header,
    .container
    {
        width: @max_fixed_column_width;
    }
}

// Mixins

.header-height(@factor: 1)
{
    header
    {
        height: @header_height * @factor;
    }
};
