// Global units:

@spacing_unit:          3.125em; // 50px at font-size 16
@spacing_unit_root:     3.125rem;

// Colors

@hot_pink:      #f56392;
@blue:          #b6e7e4;
@blue_light:    #daf3f1;

@black_95:      hsv(0, 0, 95%); // #f2f2f2
@black_93:      hsv(0, 0, 93%); // #ededed
@black_90:      hsv(0, 0, 90%); // #e5e5e5
@black_85:      hsv(0, 0, 85%); // #dadada *
@black_75:      hsv(0, 0, 75%); // #bfbfbf
@black_65:      hsv(0, 0, 65%); // #a6a6a6 *
@black_60:      hsv(0, 0, 60%); // #999
@black_50:      hsv(0, 0, 50%); // #808080
@black_38:      hsv(0, 0, 38%); // #606060
@black_30:      hsv(0, 0, 30%); // #4d4d4d
@black_24:      hsv(0, 0, 24%); // #3d3d3d *
@black_9:       hsv(0, 0, 9%); // #181818
@black_4:       hsv(0, 0, 4%); // #0a0a0a

// Widths

@thumb_width:           477px;
@entry_image_width:     727px;
@scrollbar_width:       17px; // This is only an estimate.

@1_column_width:    @thumb_width;
@2_column_width:    (@1_column_width * 2); // 954px
@3_column_width:    (@1_column_width * 3); // 1431px
@4_column_width:    (@1_column_width * 4); // 1908px
@5_column_width:    (@1_column_width * 5); // 2385px
@6_column_width:    (@1_column_width * 6);

@max_fixed_column_width:    (@1_column_width * 2.35);
@multi_column_bp:           (@2_column_width + 300px);

// Heights

@header_padding: @spacing_unit_root * 1.5;
@header_height: 6.875rem + 2 * @header_padding;

// Factors

@factor_compact_header: 0.3;

// Fonts

@title_face:    'Archivo Narrow', sans-serif;
@logo_face:     'Fira Sans', sans-serif;
// @body_face:     'Fira Sans', sans-serif;
// @body_face:     'PT Sans', sans-serif;
@body_face:     'Open Sans';
@body_sub_face: 'Open Sans Condensed';

// Easings

@ease_in_sine:  cubic-bezier(0.47, 0, 0.745, 0.715);

// Duration

@time_compact_animation: 300ms;
