<div id="about">
    <div class="container">

        <div
            class="intro"
            ng-if="data.profile.brief"
            ng-bind-html="data.profile.brief">

            {{::data.profile.brief}}

        </div>

        <div class="media-item">
            <my-ratio-img
                ng-if="data.profile.photo.path"
                path="images/{{::data.profile.photo.path}}"
                height="{{::data.profile.photo.height}}"
                width="{{::data.profile.photo.width}}"
                full-size="true">

                <my-flag
                    ng-if="data.profile.photo.flag"
                    target-position="data.profile.photo.flag.targetPosition"
                    offset="data.profile.photo.flag.offset">

                    {{::data.profile.photo.flag.text}}

                </my-flag>

            </my-ratio-img>
            <div class="description" ng-if="data.profile.photo.description">
                {{::data.profile.photo.description}}
            </div>
        </div>

        <my-synced-columns my-content-marker>

            <div
                class="bio"
                my-bind-html="data.profile.bio">

                {{::data.profile.bio}}

            </div>

            <div class="sidebar">
                <my-side-item
                    ng-repeat="media in data.profile.sidePhotos"
                    data="media"
                    class="side-item">
                </my-side-item>
            </div>

        </my-synced-columns>


    </div>
</div>
