<div id="entry">

    <div class="container">

        <div id="entry-gallery">
            <div class="media" ng-repeat="(index, media) in data.entry.images" ng-class="{ transparent: media.transparent, video: media.type === 'vimeo' }">

                <iframe ng-if="media.type === 'vimeo'" ng-src="{{::media.path}}" width="{{::media.width}}" height="{{::media.height}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen my-preloader></iframe>

                <img ng-if="media.type === undefined" ng-src="images/{{::media.path}}" width="{{::media.width}}" height="{{::media.height}}" my-preloader>

            </div>
        </div>

        <h1 ng-bind-html="data.entry.title" class="sidebar">{{::data.entry.title}}</h1>

        <div class="text" ng-bind-html="data.entry.description" my-external-links></div>

        <div class="data-points sidebar">
            <ul ng-if="data.entry.client">
                <h2>Client</h2>
                <li ng-repeat="client in data.entry.client" ng-bind-html="client">{{::client}}</li>
            </ul>
            <ul ng-if="data.entry.agencies">
                <h2>Agencies</h2>
                <li ng-repeat="agency in data.entry.agencies" ng-bind-html="agency">{{::agency}}</li>
            </ul>
            <ul ng-if="data.entry.role">
                <h2>Roles</h2>
                <li ng-repeat="role in data.entry.role" ng-bind-html="role">{{::role}}</li>
            </ul>
            <ul ng-if="data.entry.urls">
                <h2>External Links</h2>
                <li ng-repeat="url in data.entry.urls">
                    <a ng-href="{{::url.path}}" nb-bind-html="url.label" my-external-links>{{::url.label}}</a>
                </li>
            </ul>
        </div>

    </div>

</div>
