<div id="entry">

    <div class="container">

            <h1 class="sidebar">
                <div ng-bind-html="data.entry.title" class="inner-sidebar">{{::data.entry.title}}</div>
            </h1>

            <div class="main-gallery">
                <div class="main-gallery-item"
                    ng-repeat="(index, media) in data.entry.images"
                    ng-class="{ transparent: media.transparent }">

                    <my-ratio-video
                        ng-if="media.type === 'vimeo'"
                        path="media.path"
                        height="media.height"
                        width="media.width">
                    </my-ratio-video>

                    <my-ratio-img
                        ng-if="media.type === undefined"
                        path="images/{{::media.path}}"
                        height="{{::media.height}}"
                        width="{{::media.width}}"
                        use-ng-src="true">
                    </my-ratio-img>

                </div>
            </div>

            <div ng-if="data.entry.quote" class="main-quote">
                <div class="text" ng-bind-html="data.entry.quote.text">{{::data.entry.quote.text}}</div>
                <svg>
                    <use xlink:href="#symbol-quote-pointer"></use>
                </svg>
                <div class="source">
                    <img ng-if="data.entry.quote.photo" ng-src="images/{{::data.entry.quote.photo}}" class="photo" height="126" width="126">
                    <div class="author">
                        <div class="name" ng-bind-html="data.entry.quote.name">{{::data.entry.quote.name}}</div>
                        <div class="title" ng-bind-html="data.entry.quote.title">{{::data.entry.quote.title}}</div>
                        <div class="affiliation" ng-bind-html="data.entry.quote.affiliation">{{::data.entry.quote.affiliation}}</div>
                    </div>
                </div>
            </div>

            <div class="text" ng-bind-html="data.entry.description" my-external-links></div>

            <div class="data-points sidebar">
                <ul ng-if="data.entry.client.length > 0" class="inner-sidebar">
                    <h2>Client</h2>
                    <li ng-repeat="client in data.entry.client" ng-bind-html="client">{{::client}}</li>
                </ul>
                <ul ng-if="data.entry.agencies.length > 0" class="inner-sidebar">
                    <h2>Agencies</h2>
                    <li ng-repeat="agency in data.entry.agencies" ng-bind-html="agency">{{::agency}}</li>
                </ul>
                <ul ng-if="data.entry.role.length > 0" class="inner-sidebar">
                    <h2>Roles</h2>
                    <li ng-repeat="role in data.entry.role" ng-bind-html="role">{{::role}}</li>
                </ul>
                <ul ng-if="data.entry.courses.length > 0" class="inner-sidebar">
                    <h2>Course</h2>
                    <ul ng-repeat="course in data.entry.courses">
                        <li ng-if="course.label" ng-bind-html="course.label">{{::course.label}}</li>
                        <li ng-if="course.program" ng-bind-html="course.program">{{::course.program}}</li>
                        <li ng-if="course.institution" ng-bind-html="course.institution">{{::course.institution}}</li>
                    </ul>
                </ul>
                <ul ng-if="data.entry.urls.length > 0" class="inner-sidebar">
                    <h2>External Links</h2>
                    <li ng-repeat="url in data.entry.urls">
                        <a ng-href="{{::url.path}}" nb-bind-html="url.label" my-external-links>{{::url.label}}</a>
                    </li>
                </ul>
            </div>

    </div>

</div>
