<h1 id="logo" my-viewport-entrance>
    <a ng-click="nav.toggleMenu()" ng-class="{ inactive: nav.isInactive() }">
        <img src="images/galaxy.png">
        <span class="name">Jessica Williams</span>
    </a>
</h1>

<nav id="nav-main">

    <div class="nav-icon-wrapper">
        <div class="nav-icon-inner">
            <!-- <a id="nav-icon" ng-click="nav.toggleMenu()" ng-class="{ active: nav.isExpanded() }"> -->
            <a id="expand-icon" ng-click="nav.toggleMenu()" ng-show="nav.isCollapsed()">
                <svg>
                    <title>Menu</title>
                    <use xlink:href="#symbol-hamburger-icon"></use>
                </svg>
            </a>
            <a id="collapse-icon" ng-click="nav.toggleMenu()" ng-show="nav.isExpanded()">
                <svg>
                    <title>Close</title>
                    <use xlink:href="#symbol-close-icon"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="nav-items collapsible-chained-items">

        <div class="nav-items-inner">

            <ul class="nav-primary">
                <li class="gallery">
                    <a ng-href="#/">
                        <svg>
                            <use xlink:href="#symbol-gallery-icon"></use>
                        </svg>
                        <span class="text-label">Gallery</span>
                    </a>
                </li>
                <li class="list">
                    <a ng-href="#/list">
                        <svg>
                            <use xlink:href="#symbol-list-icon"></use>
                        </svg>
                        <span class="text-label">List</span>
                    </a>
                </li>
            </ul>

            <ul class="nav-sub">
                <li>
                    <a ng-href="#/about">
                        <span class="text-label">About</span>
                    </a>
                </li>
                <!--<li><a ng-href="#/skills">Skills</a></li>-->
                <!--<li><a ng-href="#/contact">Contact</a></li>-->
            </ul>

        </div>

    </div>

</nav>
