<h1 id="logo" my-viewport-entrance>
    <a ng-click="nav.toggleMenu()">
        <img src="images/galaxy.png">
        <span class="name">Jessica Williams</span>
    </a>
</h1>

<nav id="nav-main">

    <div class="nav-icon-wrapper">
        <div class="nav-icon-inner">
            <a id="nav-icon" ng-click="nav.toggleMenu()">
                <svg>
                    <title>Menu</title>
                    <use xlink:href="#symbol-hamburger-icon"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="nav-items">

        <div class="nav-items-inner">

            <ul class="nav-primary">
                <li class="gallery">
                    <a ng-href="#/" ng-click="nav.onNavItemClick()">
                        <svg>
                            <use xlink:href="#symbol-gallery-icon"></use>
                        </svg>
                        <span class="text-label">Gallery</span>
                    </a>
                </li>
                <li class="list">
                    <a ng-href="#/list" ng-click="nav.onNavItemClick()">
                        <svg>
                            <use xlink:href="#symbol-list-icon"></use>
                        </svg>
                        <span class="text-label">List</span>
                    </a>
                </li>
            </ul>

            <ul class="nav-sub">
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <li><a ng-href="#/about" ng-click="nav.onNavItemClick()">About</a></li>
                <!--<li><a ng-href="#/skills">Skills</a></li>-->
                <!--<li><a ng-href="#/contact">Contact</a></li>-->
            </ul>

        </div>

    </div>

</nav>
