<h1 id="logo">
    <a ng-click="nav.toggleMenu()">
        <img src="images/galaxy.png">
        <span class="name">Jessica Williams</span>
    </a>
</h1>

<nav id="nav-main">

    <div class="wrapper">
        <a id="nav-icon" ng-click="nav.toggleMenu()">
            <svg>
                <title>Menu</title>
                <use xlink:href="#symbol-hamburger-icon"></use>
            </svg>
        </a>
    </div>

    <div class="nav-items">

        <ul class="nav-primary">
            <li class="gallery">
                <a ng-href="#/">
                    <svg>
                        <use xlink:href="#symbol-gallery-icon"></use>
                    </svg>
                    <span class="text-label">Gallery</span>
                </a>
            </li>
            <li class="list">
                <a ng-href="#/list">
                    <svg>
                        <use xlink:href="#symbol-list-icon"></use>
                    </svg>
                    <span class="text-label">List</span>
                </a>
            </li>
        </ul>

        <ul class="nav-sub">
            <li><a ng-href="#/about">About</a></li>
            <!--<li><a ng-href="#/skills">Skills</a></li>-->
            <!--<li><a ng-href="#/contact">Contact</a></li>-->
        </ul>

    </div>

</nav>
